

<style type="text/css">
	#faq .contents {
/*		display: none;	
		background-color: #f9f9ff;*/
		width: 300px;
		float: left;
		padding: 5px 45px 5px 5px;
		border: 0px solid blue;
		border-right: 1px solid #e0e0f0;
		margin-right: 20px;
		height: 500px;
	}
	#faq .contents ul {
		padding: 0;
		margin: 0;
		list-style: none; 
	}
	
	#faq .contents a, #faq .contents a:visited, #faq .contents a:link, #faq .contents a:hover {
		color: blue;
	}
	
	
	#faq div.content {
		float: left;
		width: 450px;
		height: 500px;
		border: 0px solid green;
	}
	
	#faq {
		width: 850px;
		border: 0 solid red;
		margin-left: 00px;
	}
	
	#faq .active, #faq .active > a {
		font-weight: bold;
		color: #fe7300 !important;
	}
	
	
	#faq div.scrollable { 
	    position:relative; 
	    overflow:hidden; 
	} 
 
	#faq div.scrollable div.items { 
	    position:absolute; 
		height: 500px;
/*	    height:20000em;*/ 
	}
	
	#faq div.item {
		border: 0px solid gray;
		height: 500px;
		overflow: auto;
	}
	
	#faq div.item > ul {
		padding: 0;
		margin: 0;
	}
	
	#faq h3 {
		margin-bottom: 3px;
	}
	
	#nextContents,	a#nextContents:link, a#nextContents:visited, a#nextContents:active {
		display: block;
		margin-top: 30px;
		font-weight: bold;
		font-size: large;
		text-decoration: none;
		text-align: right;
	}
	a#nextContents:hover {
		text-decoration: underline;
	}
	#faqAnswer1,	a#faqAnswer1:link, a#faqAnswer1:visited, a#faqAnswer1:active {
		display: block;
		/*margin-top: 30px;*/
		font-weight: bold;
		font-size: large;
		text-decoration: none;
		text-align: right;
	}
	a#faqAnswer1:hover {
		text-decoration: underline;
	}
	#contentsItems {
		height: 350px;
	}
	
</style>

<div id="faq">

<div class="contents">
		
	<div id="contentsItems">
	<div id="contents1">
		<h2>Узнайте больше о GetMyAd!</h2>			 
		<h3>Общие вопросы:</h3>
		<ul>
			<li class="active"><a href="#Chto_takoe_GetMyAd?" onclick="show(this,0)">Что такое GetMyAd?</a></li>
			<li><a href="#Kak_nachat_rabotu?" onclick="show(this,1)">Как начать работу?</a></li>
			<li><a href="#Kak_razmestit_na_sayte_obyavleniya?" onclick="show(this,2)">Как разместить на сайте объявления?</a></li>
			<li><a href="#Otzyvy_uchasnikov" onclick="show(this,3)">Отзывы учасников</a></li>
		</ul>
		
		<h3>Финансовые вопросы:</h3>
		<ul>
			<li><a href="#Sposob_opredeleniya_zarabotka_partnera?" onclick="show(this,4)">Способ определения заработка партнера?</a></li>
			<li><a href="#Skolko_ya_budu_zarabatyvat?" onclick="show(this,5)">Сколько я буду зарабатывать?</a></li>
			<li><a href="#Raspisanie_polucheniya_vyplat" onclick="show(this,6)">Расписание получения выплат</a></li>
		</ul>
		 
		<h3>Технические вопросы:</h3>
		<ul>
			<li><a href="#Skolko_vremeni_neobhodimo_dlya_polucheniya_dostupa_k_akkauntu_GetMyAd_s_momenta_podachi_zayavki?" onclick="show(this,7)">Сколько времени необходимо для получения доступа к аккаунту GetMyAd с момента подачи заявки?</a></li>
			<li><a href="#Otkuda_postupayut_obyavleniya?" onclick="show(this,8)">Откуда поступают объявления?</a></li>
			<li><a href="#Kak_razmestit_reklamu_na_partnerskih_saytah_Reklamnoy_seti_Yottos?" onclick="show(this,9)">Как разместить рекламу на партнерских сайтах Рекламной сети Yottos?</a></li>
			<li><a href="#Formaty_obyavleniy." onclick="show(this,10)">Форматы объявлений.</a></li>
		</ul>
	</div>
	
	<div id="contents2" style="display: none;">
		<h2>Рост доходности </h2>
		<h3>Прописные истины: </h3>
		<ul>
			<li class="active"><a href="#Vse_stoyat_a_Vy_rastete" onclick="show(this,0)">Все стоят, а Вы растете</a></li>
			<li><a href="#Potrebnosti_posetiteley" onclick="show(this,1)">Потребности посетителей </a></li>
			<li><a href="#Unikalnyy_kontent" onclick="show(this,2)">Уникальный контент</a></li>
		</ul>
		<h3>Размещение рекламы:</h3>
		<ul>		
			<li><a href="#Dohodnye_mesta" onclick="show(this,3)">Доходные места</a></li>
			<li><a href="#Dizayn_vygruzki_razmery_i_cveta" onclick="show(this,4)">Дизайн выгрузки - размеры и цвета</a></li>
			<li><a href="#Gde_sleduet_razmeschat_obyavleniya" onclick="show(this,5)">Где следует размещать объявления</a></li>
			<li><a href="#Kajdomu_reklamnomu_bloku_po_vygruzke." onclick="show(this,6)">Каждому рекламному блоку – по выгрузке.</a></li>
		</ul>
		<h3>Итоги:</h3>
		<ul>
			<li><a href="#Udachnogo_Vam_biznesa" onclick="show(this,7)">Удачного Вам бизнеса!</a></li>
		</ul>
	</div>
	<div id="contents3" style="display: none;">
		<h2>Часто задаваемые вопросы: </h2>		
		<ol>
			<li class="active"><a href="#Ne_mogu_zayti_v_svoy_akkauntyu_V_chem_prichina" onclick="show(this,0)">Не могу зайти в свой аккаунт. В чем причина?</a></li>
			<li><a href="#Kak_sozdat_informer" onclick="show(this,1)">Как создать информер?</a></li>
			<li><a href="#Sozdal_informerb_vstavil_v_kod_saytab_a_reklamiruemye_tovary_ne_otobrajayutsyab_tolko_nadpis_Reklama_ot_Yottos_i_knopka_navigaciiyu" onclick="show(this,2)">Создал информер, вставил в код сайта,  а рекламируемые товары не отображаются, только надпись «Реклама от Yottos» и кнопка навигации.</a></li>
			<li><a href="#U_menya_uje_est_akkaunt_Yottos_GetMyAd_i_ya_hochu_podklyuchit_k_etomu_akkauntu_esche_odin_saytyu_Eto_vozmojno" onclick="show(this,3)">У меня уже есть аккаунт Yottos GetMyAd, и я хочу подключить к этому аккаунту еще один сайт. Это возможно?</a></li>
			<li><a href="#Mogu_ya_ustanovit_odin_kod_vygruzki_na_neskolkih_saytah" onclick="show(this,4)">Могу я установить один код выгрузки на нескольких сайтах?</a></li>
			<li><a href="#Gde_luchshe_vsego_ustanovit_informer_na_sayte" onclick="show(this,5)">Где лучше всего установить информер на сайте?</a></li>
			<li><a href="#Kak_redaktirovat_informer" onclick="show(this,6)">Как  редактировать информер?</a></li>		
			<li><a href="#Kak_chasto_obnovlyaetsya_statistika" onclick="show(this,7)">Как часто обновляется статистика?</a></li>
			<li><a href="#Kak_ya_mogu_vyvesti_dengi_so_svoego_akkaunta" onclick="show(this,8)">Как я могу вывести деньги со своего аккаунта?</a></li>
		</ol>
	</div>
	</div>	<!-- contentsItems -->

	<div style="padding:20px 20px 30px 40px">	
		<a href="#increase" id="nextContents" onclick="nextContents();">Рост доходности &rarr;</a>
		<a id="faqAnswer1" href="#answers"  onclick="nextContents();nextContents();" >Часто задаваемые вопросы &rarr;</a>
	</div>
</div>


	<div class="scrollable vertical content" id="content1">
	    <div class="items"> 
        <div class="item">
            <h3>Что такое GetMyAd?</h3>
            <p>
                Программа Yottos GetMyAd – это система, позволяющая выгружать на свой сайт рекламу Yottos и зарабатывать деньги на показах или кликах по ней пользователями, приходящими на Ваш сайт. Yottos показывает максимально релевантные предложения, основываясь на истории интересов пользователей.
            </p>
            <p>
                Если у вас есть сайт, который соответствует правилам программы, Вы можете, не раздумывая ни о чем принять участие и зарабатывать без всяких рисков и дополнительных денежных вложений, потому как GetMyAd – это бесплатная программа с большими возможностями.
            </p>
            <p>
                Для того чтобы принять участие в программе GetMyAd, Вам необходимо всего лишь стать участником, отправив заявку, которая будет рассмотрена в течение трех дней. После подтверждения заявки у Вас будет доступ к  новому аккаунту GetMyAd, в котором будет  рекламная выгрузка для установки на Вашем сайте.
            </p>
        </div>
        <div class="item">
            <h3>Как начать работу?</h3>
            <p>
                Начать очень быстро и легко:
            </p>
                <ol>
                    <li>
                        Подайте <a href="/Регистрация">заявку</a>
                        (это Вы можете сделать через Интернет).
                    </li>
                    <li>
                        Войдите в аккаунт GetMyAd, возьмите выгрузку и установите на своем сайте.
                    </li>
                    <li>
                        И на Вашем сайте начнут показываться объявления.
                    </li>
                </ol>
        </div>
        <div class="item">
            <h3>Как разместить на сайте объявления?</h3>
            <p>
                Разместить объявления очень легко: зайдите в программу GetMyAd, откройте вкладку «Мои информеры», настройте дизайн выгрузки под свой сайт, скопируйте код выгрузки и вставьте его в HTML-код страниц Вашего сайта.
            </p>
            <p>
                Если Вы не знаете, как сделать это самостоятельно, обратитесь к своему веб-мастеру или в службу поддержки GetMyAd.
            </p>
        </div>
		<div class="item">
            <h3>Отзывы учасников</h3>
			<ol>
			<li><p>Метеопрог сотрудничает  с Yottos GetMyAd с начала 2010 года. Не
				смотря на то, что  система новая и только выходит на рынок, претензий
				к ней нет: всё легко, но прибыльно -  начиная от  подключения и
				заканчивая выводом  заработанного. Очень нравится тот факт, что товары
				в выгрузке стоят в ротации,  что позволяет получать большую прибыль
				и не приедается пользователям. Работа с GetMyAd -  прибыльное дело,
				отнимающее минимум времени. Система развивается на глазах,  регулярно
				появляются новшества в различных проектах, в том числе и в GetMyAd.
				Желаю Yottos  дальнейших успехов, процветания и множества
				рекламодателей :) <br />
			<i>Андрей Шеремет, руководитель проекта </i> <a href="http://meteoprog.ua/">http://meteoprog.ua</a></p></li>
            <li><p>Узнал о программе GetMyAd от знакомых веб-мастеров, пользующихся этой программой. Вначале смущал факт неизвестности Yottos, но попробовал, подключил и не жалею! Интересные рекламные объявления, квалифицированный персонал, стабильный доход  — в общем, на поиск рекламодателей я не трачу время, а концентрируюсь на дальнейшей разработке своего сайта и дополнении содержимого.<br />
			<i>Дмитрий, руководитель</i> <a href="http://crisis-blog.ru/">http://crisis-blog.ru</a></p></li>
			<li><p>О программе Yottos GetMyAd узнал на форуме и решил попробовать подключить на свой сайт. Система действительно работает и  приносит  доход, а реклама не влияет на индекс цитирования в поисковиках.  К рекламируемым товарам также претензий нет.<br />
			<i>Владимир, сайт</i> <a href="http://www.vnutri.info">vnutri.info</a></p></li>
		<li><p>
			Я представляю портал <a href="http://most.ua/">http://most.ua/</a>. Работаем с Yottos с марта 2010 года.  Эффект, полученный от установки рекламы на сайте понравился сразу, на что повлял ряд факторов: первое — это приветливые и компетентные менеджеры, которые сделали рекламную выгрузку достаточно быстро. Второе — при подключении выгрузки практически не возникло проблем. Третье — демонстрируемые обьявления актуальны и интересны, с достаточно высоким CTR, а цена за клик выше, чем в подобных системах. Четвертое — расширенная сатистика. Пятое — процесс вывода денежных средств не составляет труда: широкий выбор способов позволил выбрать наиболее оптимальный.  
			<br />Хочу пожелать Yottos дальнейшего развития!
			<br /><i>С уважением, Василий Степанюк, руководитель отдела рекламы портала</i> <a href="http://most.ua/">http://most.ua/</a></p></li>
		</ol>
        </div>
        <div class="item">
            <h3>Способ определения заработка партнера?</h3>
            <p>
                Реклама в Yottos размещается через программу AdLoad, расчет которых определяется посредством кликов.
            </p>
            <p>
                При размещении рекламы Yottos через программу GetMyAd на партнерском сайте денежные средства, выплачиваемые партнеру, являются частью от стоимости, указанной рекламодателем в программе Yottos AdLoad. Денежные средства,  которые отчисляется за клик или просмотр  объявления, автоматически  зачисляются в статистических данных программы GetMyAd. Стоимость партнерского вознаграждения составляет 50%.
            </p>
        </div>
        <div class="item">
            <h3>Сколько я буду зарабатывать?</h3>
            <p>
                Цель Yottos – это обеспечение получения максимального дохода партнером при работе в программе GetMyAd по сравнению с другими существующими рекламными сетями.
                Озвучивать какие-либо конкретные цифры мы не видим смысла, потому как в каждом отдельном случае доход колеблется из-за множества факторов.
            </p>
            <p>
                Поэтому, для того, чтоб узнать, сколько Вы будете зарабатывать, зарегистрируйтесь, отправив <a href="/Регистрация">заявку</a>, и получите доступ. Таким образом Вы убедитесь в эффективности системы Yottos GetMyAd
                без рисков и обязательств – это бесплатно.
            </p>
            <p>
                Заработок происходит при клике на объявление на сайте партнера или показе,
                в зависимости от вида объявлений, участвующих в аукционе между всеми, кто рекламируется в AdLoad, что приводит к максимальному получению дохода.
            </p>
            <p>
                Без ограничений по времени суток Вы сможете просмотреть статистику своих доходов, провести анализ показов и кликов, выгрузок и их CTR посредством 
                построения отчетов в виде таблиц и графиков, войдя в свой аккаунт  по адресу <a href="http://getmyad.yottos.com.ua">http://getmyad.yottos.com.ua</a>.
            </p>
        </div>
        <div class="item">
            <h3>Расписание получения выплат.</h3>
            <p>
                Выплаты партнерам производятся один раз в месяц при условии того, что были соблюдены все правила программы Yottos GetMyAd.
            </p>
            <p>
                Просим обратить внимание, что в программе существуют правила выплат дохода:
            </p>
            <ul>
                <li>
                    достижение минимального порога выплаты, то есть заявленная сумма денежных средств для получения должна быть не меньше минимальной пороговой суммы, установленной в программе.
                </li>
                <li>
                    выплата производится в начале каждого месяца при условии того, что был достигнут минимальный порог выплат.
                </li>
            </ul>
            <p>
                Остаток дохода определяется путем суммирования всех существующих возможных выгрузок в программе. Минимальная сумма порога вывода составляет сто долларов США.
            </p>
            <p>
                Наша система производит выплаты двумя способами: начисление денежных средств на Ваш банковский счет или на кошелек электронных денег, таких как WebMoney. Данные для вывода дохода вы должны будете указать при выборе способа вывода средств, зайдя во вкладку в личном аккаунте GetMyAd «Счет» &gt;&gt; «Заявка на вывод средств».
            </p>
            <p>
                <b>Внимание: </b>если в аккаунте партнера выявлены какие-либо нарушения условий и правил программы GetMyAd, компания Yottos в любой момент может отказать в оплате до момента полного изучения возможных нарушений.
            </p>
        </div>
        <div class="item">
            <h3>Сколько времени необходимо для получения доступа к аккаунту GetMyAd с момента подачи заявки?</h3>
            <p>
                Заявка рассматривается модератором в течение 3-х дней с момента отправки заявки сайта, желающего войти в партнерскую сеть Yottos. После того, как сайт будет проверен, на указанный в заявке электронный адрес будет отправлено письмо с дальнейшими инструкциями по доступу и сотрудничеству.
            </p>
        </div>
        <div class="item">
            <h3>Откуда поступают объявления на мой сайт?</h3>
            <p>
                Благодаря технологиям Yottos, а именно программе AdLoad, партнер имеет возможность зарабатывать без трудностей, связанных с  поиском личных отношений с рекламодателями. 
            </p>
            <p>
                Программа Yottos AdLoad берет на себя все вопросы, связанные с размещением и поддерживанием отношений с рекламодателями для того, чтобы Вы при использовании программы GetMyAd получали наиболее релевантные объявления на свой сайт, приносящие максимально возможный доход без забот.
            </p>
        </div>
        <div class="item">
            <h3>Как разместить рекламу на партнерских сайтах Рекламной сети Yottos?</h3>
            <p>
                Для того чтоб Ваша реклама попала в партнерскую сеть Yottos, Вам необходимо воспользоваться программой <a href="http://adload.yottos.com.ua">Yottos AdLoad</a>. Yottos AdLoad дает возможность проводить рекламные кампании с максимальной эффективностью при существующих бюджетах, донося до каждого человека Ваше объявление.
            </p>
            <p>
                Подробную информацию об этом можно найти в статье <a href="http://adload.yottos.com.ua/About/AboutAdload.aspx">"О проекте AdLoad"</a>
            </p>
        </div>
        <div class="item">
            <h3>Форматы объявлений.</h3>
            <p>
                Экспериментируйте с использованием различных форматов рекламных выгрузок для страниц Вашего сайта и достигайте максимального результата!
            </p>
        </div>
 
	    </div> 
	</div>


    <div class="scrollable vertical content" id="content2" style="display: none;">

        <div class="items">
            <div class="item">
                <h3>Все стоят, а Вы растёте!</h3>
                <p>
                    Мы предлагаем Вам серию статей, которые посвящены развитию бизнеса наших партнеров в Интернете, использующих программу GetMyAd. Поговорим о том, как правильно работать и зарабатывать на своем сайте с помощью программ Yottos. Также мы дадим Вам общие рекомендации по партнерству и расширению собственного бизнеса посредством GetMyAd.
                </p>
            </div>
            <div class="item">

                <h3>Потребности посетителей</h3>
                <p>
                    Для начала хотим обратить Ваше внимание на основной фактор, которым нужно руководствоваться всегда, не забывать о нем при решении любых задач, стоящих перед Вашим сайтом. А именно мы говорим о том, что интересы пользователей – это основа эффективного, интересного и развивающегося сайта.
                </p>
                <p>
                    Нередко возникает соблазн создать анимированный, красиво мерцающий сайт,  дизайн которого на самом деле  будет отвлекать пользователя, пришедшего на Ваш сайт почитать статью, пообщаться или посмотреть фото или видео. Другими словами, у пользователя есть вполне понятные и конкретные цели, которые нужно удовлетворить в первую очередь, а дизайн  - отнести на твердое второе место.
                </p>
                <p>
                    Итак, удовлетворять потребности посетителей - это самый главный аспект развития бизнеса в Интернете.
                </p>
                <p>
                    Далее нужны люди – посетители Вашего сайта, которые оценят его уникальность. Для этого сайту нужен уникальный контент, который позволит оценить его по достоинству поисковыми системами и, как следствие, пользователями, которые придут с поисковых результатов. Для этого  рекомендуем использовать программу Yottos AdLoad, которая размещает рекламные объявления, соответствующие тематике запросов пользователей. Yottos AdLoad приведет на Ваш сайт заинтересованных посетителей с первого дня рекламной кампании. 
                </p>
                <p>
				</div>
				<div class="item">
                <h3>Уникальный контент</h3>
                    Пользователи, которые хотя бы единожды побывали на Вашем сайте с уникальным контентом, будут возвращаться на него, а также будут рассказывать о нем  в социальных сетях или офлайн, что приведет к еще большему потоку заинтересованных пользователей. 
                </p>
                <p>
                    Дайте  возможность другим сайтам  брать Ваш уникальный контент, например через rss или кнопки генерации кода, но обязательно  с примечанием условий его использования и  ссылками на Ваш сайт. Не бойтесь того, что Ваш контент перестанет быть  уникальным. Он  будет информационно дополнять сайты партнеров, а ссылки на Ваш сайт будут определять Вас как первоисточник.
                </p>
                <p>
                    Такие действия  приведут к постепенному формированию пользовательского ядра, которое может перерасти в сообщество, если Вы создадите благоприятные условия его созидания и генерации. Сообщество, как муравейник,  добивается целей, которые невозможно достичь в одиночку. Это приведет к еще большему количеству людей на вашем сайте. 
                </p>
                <p>
                    Повышая рейтинг сайта в поисковых системах, будьте осторожны! Не используйте хитрые способы, именуемые «черной оптимизацией», так как они приносят вначале кратковременную, незначительную пользу, а затем  значительный, трудно поправимый вред. 
                </p>
            </div>
            <div class="item">
                <h3>Доходные места</h3>
                <p>
                    Для того чтобы понять, где находится  основа прибыльности сайта, необходимо учесть, что объявления – это информация  для потенциальных  переходов, а не помеха на пути  получении информации.  Следуя этому, Вам нужно провести анализ страниц своего сайта, чтобы выявить потенциально прибыльные места.  Учитывая опыт нашей первой статьи «Прописные основы» Вы уже знаете, что пользователь, пришедший на Ваш сайт, преследует какие-то цели. Исходя из этого, Вам необходимо установить объявления там, где пользователь завершает выполнение своих действий, например под статьей, которую он заканчивает читать, или в видео плеере, который он просматривает. Другими словами, располагайте рекламные объявления в конце выполнения задачи. 
                </p>
                <p>
                    Для того чтобы более точо определить, где  именно на страницах Вашего сайта находятся потенциальные точки взаимодействия пользователя с конкретным контентом, необходимо провести анализ.  Результаты анализа укажут Вам на части  страниц сайта, куда падает взгляд посетителей в первую очередь, и именно на этих местах стоит размещать объявления. Но, повторимся, рекламные объявления не должны мешать посетителям преследовать свои цели.
                </p>
            </div>
            <div class="item">
                <h3>Дизайн выгрузки - размеры и цвета</h3>
                <p>
                    В предыдущих статьях мы рассмотрели принципы размещения рекламных объявлений и определили  самые доходные места на сайте. Далее нам необходимо определить оптимальные размеры и цвета объявлений. Правильный подбор этих параметров, с одной стороны, обеспечит высокую эффективность объявлений  для рекламодателей, а с другой стороны, будет привлекательным для посетителей Вашего сайта,  что позволит им осуществлять цели, за которыми они пришли, а также раскрыть новые цели. Такие действия еще сильнее повысят интерес к Вашему сайту.
                </p>
                <p>
                    Ниже мы привели пример тепловой карты, на которой показано, где следует размещать объявления для максимальной эффективности.
                </p>
            </div>
            <div class="item">

            <h3>Где следует  размещать объявления </h3>
            <ul>
                <li>
                    на страницах сайтов
                </li>
                <li>
                    в блогах
                </li>
                <li>
                    на форуме
                </li>
            </ul>
            <p>
            </p>
            Самые эффективные размеры по  нашим статистическим данным это (привести 3 примера).
            </p>
            <p>
                Цвет объявлений должен гармонично вписываться в дизайн вашего сайта. 
            </p>
            <p>
                Если Вы выгружаете  рекламный блок текстового формата, выделите  названия жирным шрифтом, так они будут лучше выделяться. 
            </p>
            <p>
                Максимально эффективным является использование рекламных объявлений с небольшой  картинкой, такие  рекламные объявления  называются  информеры.  Они дают посетителям максимально точное понимание о рекламном объявлении и лучше раскрывают скрытые цели и предпочтения пользователей, которые с Вашего сайта переходят по заинтересовавшему их объявлению. 
            </p>
            <p>
                Для анализа  доходности и эффективности конкретных рекламных блоков воспользуйтесь статистическими отчетами  в графиках по CTR программы Yottos GetMyAd 
            </p>
            <p>
                Не останавливайтесь на одном варианте размера или цвета.  Экспериментируйте и вы добьетесь еще лучших  результатов!
            </p>
            <p>
        </div>
        <div class="item">

            <h3>Каждому рекламному блоку – по выгрузке.</h3>
            <p>
                Эффективность рекламных выгрузок напрямую зависит от их количества. Размещайте на своем сайте ровно столько рекламных блоков, сколько и выгрузок. Такой подход позволит Вам наиболее эффективно проводить анализ доходности каждого места, выделенного под рекламный блок.
            </p>
            <p>
                Также следует помнить о правиле, которое гласит: «три выгрузки более, чем в три раза эффективнее, нежели одна». Выделяйте несколько мест, и это повысит Ваш доход значительнее, чем Вы предполагаете.
            </p>
            <p>
                Оптимальный период, после которого необходимо сравнивать и анализировать данные по выгрузкам составляет две-три недели. У каждого сайта своя специфика и свои самые доходные места: у одних эти места находятся вверху страницы, у других – ближе к кнопкам навигации по сайту, у третьих – в середине страницы.
            </p>
            <p>
                Где бы ни были такие места на Вашем сайте, всегда помните об истинном предназначении Вашего сайта, и тогда  у Вас будут и довольные посетители и постоянно увеличивающийся  доход!
            </p>
            <p>
        </div>
        <div class="item">
        <h3>Подведение итогов</h3>
        <b>Итак, можем подытожить главные аспекты на пути повышения доходности:</b>
        </p
        <ol>
            <li>
                Удовлетворение желаний пользователей
            </li>
            <li>
                Удобство и функциональность сайта
            </li>
            <li>
                Уникальность контента
            </li>
            <li>
                Оптимизация сайта через контент
            </li>
            <li>
                Постоянное увеличение количества и качества пользовательской аудитории
            </li>
            <li>
                Определение максимально доходных мест на сайте
            </li>
            <li>
                Использование минимум трех  рекламных выгрузок
            </li>
            <li>
                Оптимальные размеры, цвета и дизайн выгрузок
            </li>
            <li>
                Анализ статистики GetMyAd
            </li>
            <li>
                И самое главное! Никогда не останавливайтесь на достигнутом!
            </li>
        </ol>
        <p>
            <b>Мы всегда рады Вам помочь в любых начинаниях!</b>
        </p>
        <p>
        <b>
        Удачного Вам бизнеса!
    </p>
    </b>
    </div>
    </div>
</div>


<div class="scrollable vertical content" id="content3" style="display: none;">
	<div class="items"> 
	<div class="item">
		<h3>1. Не могу зайти в свой аккаунт. В чем причина?</h3>
        <b>Ответ: </b>        
        Логин и пароль необходимо вводить очень аккуратно – без пробелов до или после символов, т.к. система воспринимает пробелы как знаки. 
	</div>
	<div class="item">
			<h3>2. Как создать информер?</h3>
        	<b>Ответ: </b>        
        	Создание информеры выполняется в пять действий:
			<ol>
				<li>После того как Вы вошли в свой аккаунт, кликните на ссылку «Создать новый информер». </li>
				<li>В открывшемся окне выберите необходимый размер информера. Мы выбрали для Вас 8 самых популярных размеров информеров, а дополнительные размеры Вы можете найти в выпадающих списках «еще». Кликните на «Далее >».</li>
				<li>Далее необходимо выбрать цветовую гамму информера – мы выбрали для Вас 4 наиболее популярные цветовые палитры – ясность, красное и черное, дым, нежность – используйте их или создайте собственную палитру, меняя цвета границы, фона, заголовка, описания, цены, навигации и логотипа. После кликните на «Далее >».</li>
				<li>Выберите сайт, на котором будем работать информер (в случае, если к одному аккаунту подключено несколько сайтов) и выберите название информера. С нашей точки зрения наиболее удобным названием информера является его размер и дата создания, однако Вы можете сами выбирать названия информера.</li>
				<li>Кликните на кнопку «Сохранить изменения» - система автоматически выдаст Вам код информера в окошке под кнопкой «Сохранить изменения». Кликните левой кнопкой мыши на код информера – код выделится синим фоном, а после  этого кликните  правой кнопкой мыши и выберите «Копировать». Таким образом, Вы  скопируете код  информера (строку скрипт). Вам осталось только найти  в HTML- коде сайта место  и вставить скопированный код  рекламного  информера!</li>				
			</ol>
		</div>
		<div class="item">
			<h3>3. Создал информер, вставил в код сайта,  а рекламируемые товары не отображаются, только надпись «Реклама от Yottos» и кнопка навигации.</h3>
        	<b>Ответ: </b>
			После составления информера робот Yottos  должен  обработать информацию и подгрузить рекламу – на эти действия необходимо порядка 30 минут.
		</div>        
		<div class="item">
			<h3>4. У меня уже есть аккаунт Yottos GetMyAd, и я хочу подключить к этому аккаунту еще один сайт. Это возможно?</h3>
        	<b>Ответ: </b>
			Для подключения дополнительных сайтов к аккаунту необходимо во вкладке «Мои информеры» кликнуть на ссылку «Зарегистрировать сайт». В открывшемся окне введите URL нового сайта  и нажмите на кнопку «Отправить заявку». Модератор в течение трех суток обработает Вашу заявку. Как только модератор одобрит новый сайт во вкладке «Мои информеры» в таблице «Список существующих информеров» Вы увидите название нового сайта.
			</div>			
		<div class="item">
			<h3>5. Могу я установить один код выгрузки на нескольких сайтах?</h3>
        	<b>Ответ: </b>
			: Нет, каждому рекламному месту необходимо создавать новую выгрузку. Система подгрузит рекламу в информер только на тот сайт, который был указан при составлении информера.
		</div>
		<div class="item">
			<h3>6. Где лучше всего установить информер на сайте?</h3>
        	<b>Ответ: </b>
			Для достижения максимального результата необходимо установить минимум два различных  информера на сайте, а наибольший результат от информеров достигается в случае одновременного установления трех различных выгрузок на сайте.
			Если у Вас новостной сайт, установите один горизонтальный информер под текстом новости над комментариями, другой информер  -  вертикальный – справа от названия статьи, а третий информер установите на главной странице сайта.
			Если у Вас сайт поиска машин, музыки, фильмов, установите один информер под строкой поиска, другой информер – горизонтальный – под информацией о конкретной машине, песне, фильме, а третий информер установите на главной странице сайта.
		</div>
		<div class="item">
			<h3>7. Как  редактировать информер? </h3>
        	<b>Ответ: </b>
			Во вкладке «Мои информеры» в таблице «Список существующих информеров» кликните на «плюс» справа от названия сайта, на котором расположен информер. В выпавшем списке  найдите необходимый для редактирования информер и кликните «Править».
			После редактирования информера не забудьте сохранить изменения! 
			Код измененного информера не надо заново копировать и вставлять на сайт – изменения автоматически подгрузятся в течение часа.

		</div>
		<div class="item">
			<h3>8. Как часто обновляется статистика?</h3>
        	<b>Ответ: </b>
			Статистика обновляется один раз в час
		</div>
		<div class="item">
			<h3>9. Как я могу вывести деньги со своего аккаунта?</h3>
        	<b>Ответ: </b>
			Как только в Вашем аккаунте появится  достаточно средств для вывода,  во вкладке «Счет» появится надпись «Вы можете оформить заявку на вывод средств». Кликните на ссылку «вывод средств»  - в появившемся окошке введите  необходимые данные для вывода средств и кликните на кнопку «Отправить заявку». В течение двух рабочих дней на Ваш счет поступят денежные средства
		</div>	
</div>


    


</div>

<br style="clear: both;" />
 
 
 <script type="text/javascript">

var currentContents = 1;
var currentContents2 = 2;
var title;
var titleN;
function nextContents() {
	
	$("#content" + currentContents).hide();	
	$("#contents" + currentContents).hide();
	currentContents++;	
	if (currentContents > 3)
		currentContents = 1;
		titleN=currentContents+1;
		if(titleN>3)
		titleN=1;
	while (currentContents2 < currentContents) {		
		currentContents2++;
		if (currentContents2 > 3) 
			currentContents2 = 1;
		titleN2 = currentContents2 + 1;
		if (titleN2 > 3) 
			titleN2 = 1;
	}	
	if (currentContents2==currentContents)
	currentContents2--;
	title = $("#contents" + titleN).find("h2").html();
	$("#nextContents").html(title + ' &rarr;');
	if(title == $("#contents" + currentContents2).find("h2").html())
	currentContents2++;
	if (currentContents2 > 3) 
			currentContents2 = 1;
	$("#faqAnswer1").html($("#contents" + currentContents2).find("h2").html() + ' &rarr;');
	
	$("#contents" + currentContents).fadeIn();
	$("#content" + currentContents).fadeIn();	
}
function nextContents1() {
	
	$("#content" + currentContents).hide();	
	$("#contents" + currentContents).hide();
	currentContents++;
	if (currentContents > 3)
		currentContents = 2;
	titleN=currentContents+1;
	if(titleN > 3)
		titleN=1;	
			
	title = $("#contents" + titleN).find("h2").html();
	$("#nextContents").html(title + ' &rarr;');
	
	$("#faqAnswer1").html($("#contents" + currentContents).find("h2").html() + ' &rarr;');
	
	$("#contents" + currentContents).fadeIn();
	$("#content" + currentContents).fadeIn();	
}

	
 function show(sender, id) {
 	$("#content" + currentContents).scrollable().seekTo(id);
 }
$(function(){
	var scrollableOptions = {
         vertical: true,
         size: 1,
		 speed: 200,
		 clickable: false,
         onSeek: function(){
			 $("#contents" + currentContents + " li").removeClass('active');
			 $("#contents" + currentContents + " li:eq(" + this.getIndex() + ")").addClass("active");
         }
     }; 
	
     $("#content1").scrollable(scrollableOptions).mousewheel();
	 $("#content2").scrollable(scrollableOptions).mousewheel();
	 $("#content3").scrollable(scrollableOptions).mousewheel();	 
	 $("#content1").focus();
	 var href = location.hash;
	var urls = $('#contents1 li > a');	
	for(var i=0;i<urls.length;i++)
	{
		if(urls[i].hash==href)
		{							
			show(urls[i],i);			
		}
	}
	var urls = $('#contents2 li > a');	
	for(var i=0;i<urls.length;i++)
	{
		if(urls[i].hash==href)
		{		
			nextContents()
			show(urls[i],i);			
		}
	}
	var urls = $('#contents3 li > a');	
	for(var i=0;i<urls.length;i++)
	{	
		if(urls[i].hash==href)
		{		
			nextContents();
			nextContents();
			show(urls[i],i);			
		}
	}	
 }); 

  </script>
 	
