# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />
<%def name="head()">
	<title>Yottos GetMyAd</title>
</%def>
##%>	(для парсера)

<style type="text/css">
	#content {
		margin-left: 200px;
		width: 580px;
	}
</style>

<div id="content">
	
	
<h2>Рост доходности посредством повышения эффективности</h2>

<h3>Все стоят, а Вы растете</h3>

<p>
Мы предлагаем Вам серию статей, которые посвящены развитию бизнеса наших партнеров в Интернете, использующих программу GetMyAd. Поговорим о том, как правильно работать и зарабатывать на своем сайте с помощью программ Yottos. Также мы дадим Вам общие рекомендации по партнерству и расширению собственного бизнеса посредством GetMyAd.
</p>

<h3>Прописные основы</h3>

<p>
Для начала хотим обратить Ваше внимание на основной фактор, которым нужно руководствоваться всегда, не забывать о нем при решении любых задач, стоящих перед Вашим сайтом. А именно мы говорим о том, что интересы пользователей – это основа эффективного, интересного и развивающегося сайта.
</p>
<p>
Нередко возникает соблазн создать анимированный, красиво мерцающий сайт,  дизайн которого на самом деле  будет отвлекать пользователя, пришедшего на Ваш сайт почитать статью, пообщаться или посмотреть фото или видео. Другими словами, у пользователя есть вполне понятные и конкретные цели, которые нужно удовлетворить в первую очередь, а дизайн  - отнести на твердое второе место.
</p>
<p>
Итак, удовлетворять потребности посетителей - это самый главный аспект развития бизнеса в Интернете.
</p>
<p>
Далее нужны люди – посетители Вашего сайта, которые оценят его уникальность. Для этого сайту нужен уникальный контент, который позволит оценить его по достоинству поисковыми системами и, как следствие, пользователями, которые придут с поисковых результатов. Для этого  рекомендуем использовать программу Yottos AdLoad, которая размещает рекламные объявления, соответствующие тематике запросов пользователей. Yottos AdLoad приведет на Ваш сайт заинтересованных посетителей с первого дня рекламной кампании. 
</p>
<p>
Пользователи, которые хотя бы единожды побывали на Вашем сайте с уникальным контентом, будут возвращаться на него, а также будут рассказывать о нем  в социальных сетях или офлайн, что приведет к еще большему потоку заинтересованных пользователей. 
</p>
<p>
Дайте  возможность другим сайтам  брать Ваш уникальный контент, например через rss или кнопки генерации кода, но обязательно  с примечанием условий его использования и  ссылками на Ваш сайт. Не бойтесь того, что Ваш контент перестанет быть  уникальным. Он  будет информационно дополнять сайты партнеров, а ссылки на Ваш сайт будут определять Вас как первоисточник.
</p>
<p>
Такие действия  приведут к постепенному формированию пользовательского ядра, которое может перерасти в сообщество, если Вы создадите благоприятные условия его созидания и генерации. Сообщество, как муравейник,  добивается целей, которые невозможно достичь в одиночку. Это приведет к еще большему количеству людей на вашем сайте. 
</p>
<p>
Повышая рейтинг сайта в поисковых системах, будьте осторожны! Не используйте хитрые способы, именуемые «черной оптимизацией», так как они приносят вначале кратковременную, незначительную пользу, а затем  значительный, трудно поправимый вред. 
</p>

 
<h3>Доходные места</h3> 

<p>
Для того чтобы понять, где находится  основа прибыльности сайта, необходимо учесть, что объявления – это информация  для потенциальных  переходов, а не помеха на пути  получении информации.  Следуя этому, Вам нужно провести анализ страниц своего сайта, чтобы выявить потенциально прибыльные места.  Учитывая опыт нашей первой статьи «Прописные основы» Вы уже знаете, что пользователь, пришедший на Ваш сайт, преследует какие-то цели. Исходя из этого, Вам необходимо установить объявления там, где пользователь завершает выполнение своих действий, например под статьей, которую он заканчивает читать, или в видео плеере, который он просматривает. Другими словами, располагайте рекламные объявления в конце выполнения задачи.  
</p>
<p>
Для того чтобы более точно определить, где  именно на страницах Вашего сайта находятся потенциальные точки взаимодействия пользователя с конкретным контентом, необходимо провести анализ.  Результаты анализа укажут Вам на части  страниц сайта, куда падает взгляд посетителей в первую очередь, и именно на этих местах стоит размещать объявления. Но, повторимся, рекламные объявления не должны мешать посетителям преследовать свои цели.
</p>

<h3>Дизайн выгрузки - размеры и цвета</h3> 
<p>
 В предыдущих статьях мы рассмотрели принципы размещения рекламных объявлений и определили  самые доходные места на сайте. Далее нам необходимо определить оптимальные размеры и цвета объявлений. Правильный подбор этих параметров, с одной стороны, обеспечит высокую эффективность объявлений  для рекламодателей, а с другой стороны, будет привлекательным для посетителей Вашего сайта,  что позволит им осуществлять цели, за которыми они пришли, а также раскрыть новые цели. Такие действия еще сильнее повысят интерес к Вашему сайту.
</p>
<p>
Ниже мы привели пример тепловой карты, на которой показано, где следует размещать объявления для максимальной эффективности.
</p>


<h3>Где следует  размещать объявления </h3>
 

<ul>
	<li>на страницах сайтов</li>
	<li>в блогах</li>
	<li>на форуме</li>
</ul>

 
<p></p>
Самые эффективные размеры по  нашим статистическим данным это (привести 3 примера).
</p>
<p>
Цвет объявлений должен гармонично вписываться в дизайн вашего сайта. 
</p>
<p>

Если Вы выгружаете  рекламный блок текстового формата, выделите  названия жирным шрифтом, так они будут лучше выделяться.  
</p>
<p>

Максимально эффективным является использование рекламных объявлений с небольшой  картинкой, такие  рекламные объявления  называются  информеры.  Они дают посетителям максимально точное понимание о рекламном объявлении и лучше раскрывают скрытые цели и предпочтения пользователей, которые с Вашего сайта переходят по заинтересовавшему их объявлению. 
</p>
<p>

Для анализа  доходности и эффективности конкретных рекламных блоков воспользуйтесь статистическими отчетами  в графиках по CTR программы Yottos GetMyAd  
</p>
<p>

Не останавливайтесь на одном варианте размера или цвета.  Экспериментируйте и вы добьетесь еще лучших  результатов!
</p>
<p>

 

<h3>Каждому рекламному блоку – по выгрузке.</h3>
<p>
Эффективность рекламных выгрузок напрямую зависит от их количества. Размещайте на своем сайте ровно столько рекламных блоков, сколько и выгрузок. Такой подход позволит Вам наиболее эффективно проводить анализ доходности каждого места, выделенного под рекламный блок.
</p>
<p>
Также следует помнить о правиле, которое гласит: «три выгрузки более, чем в три раза эффективнее, нежели одна». Выделяйте несколько мест, и это повысит Ваш доход значительнее, чем Вы предполагаете.
</p>
<p>

Оптимальный период, после которого необходимо сравнивать и анализировать данные по выгрузкам составляет две-три недели. У каждого сайта своя специфика и свои самые доходные места: у одних эти места находятся вверху страницы, у других – ближе к кнопкам навигации по сайту, у третьих – в середине страницы.
</p>
<p>

Где бы ни были такие места на Вашем сайте, всегда помните об истинном предназначении Вашего сайта, и тогда  у Вас будут и довольные посетители и постоянно увеличивающийся  доход!
</p>
<p>

 
<b>Итак, можем подытожить главные аспекты на пути повышения доходности:</b>
</p
<ol>
	<li>Удовлетворение желаний пользователей</li>
	<li>Удобство и функциональность сайта</li>
	<li>Уникальность контента</li>
	<li>Оптимизация сайта через контент</li>
	<li>Постоянное увеличение количества и качества пользовательской аудитории</li>
	<li>Определение максимально доходных мест на сайте</li>
	<li>Использование минимум трех  рекламных выгрузок</li>
	<li>Оптимальные размеры, цвета и дизайн выгрузок</li>
	<li>Анализ статистики GetMyAd</li<
	<li>И самое главное! Никогда не останавливайтесь на достигнутом!</li>

 
<p><b>Мы всегда рады Вам помочь в любых начинаниях!</b></p>

<p><b>Удачного Вам бизнеса!</p></b>

 

##<a href="#">Поделитесь своим опытом  достижения успеха, рассказав об этом другим здесь</a>

 
</div>
 

 