# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />	

<%def name="head()">
        <title>GetMyAd | Часто задаваемые вопросы</title>
	<script type="text/javascript" src="/lib/jquery/jquery-1.4.2.min.js"></script>	
	<script type="text/javascript" src="/lib/plugins/jquery.tools.min.js"></script>
	<link type="text/css" href="/lib/css/theme/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
</%def>
##%>	4parser

<script type="text/javascript"><!--
var yottos_id = "aHR0cDovL2dldG15YWQueW90dG9zLnJ1";
//-->
</script>
<script type="text/javascript" src="http://yottos.com/yinfoT.js"></script>
<%include file="/increase.content.html" />	
