# -*- coding: utf-8 -*-
<%
c.Comment = False
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>YOTTOS | GetMyAd — бесплатная программа для заработка в Интернете. Заработай на своем сайте</title>
            <link href="/css/main.css" type="text/css" rel="stylesheet" />
            <meta name="keywords" content="Yottos, GetMyAd, реклама, контекстная, текстовый формат, баннер, баннерная сеть, показы баннеров, демонстрация баннера, размещение баннера на странице, размещение баннера на сайте, располагать баннер, рекламная сеть, тизер, партнерская программа, партнерская сеть, тизерная, заработок, Интернет, свой сайт, размещение рекламы, click, реклама на сайте, заработать на сайте, максимум дохода от своего контента, заработок в интернете без вложений, заработок в интернете за клики, как заработать в интернете, партнерские программы заработка, высокий ctr, Internet реклама, реклама в Интернет"/>
            <meta name="description" content="Рекламная партнерская сеть Yottos GetMyAd: для владельцев сайтов. Программа размещает объявления с товарными предложениями на вашем сайте — вы получаете деньги за клики. Это простой заработок на своем сайте без вложений"/>
	<script type='text/javascript' src='/js/SearchQueryBuilder.js'></script>	
	${self.head()}
</head>
<body>

    <div id="divHeader">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" >
            <tr>
        
                    <td align="left" rowspan="6" style="width: 138px; min-width: 138px; padding-bottom:1px; padding-top:0; margin-top:0;">
                         <a href="/">
                         <div id="divLogoImageButton">
                            <img id="ctl00_LogoImageButton" src="/img/Logos/getmyad_small.jpeg" style="width:125px;border-width:0px;" />
                         </div>
                         </a> </td>

             
                <td align="left" valign="top" style="text-align:left ;" >
                    <table cellpadding="0" cellspacing="0" border="0" >
                        <tr>
                            <td align="right" valign="middle" style="width:30px; height: 32px;">
                                <a id="ctl00_WebImageHyperLink" href="http://yottos.ru"  onmouseover="buildSearchUrl(this)"><img src="/img/Logos/SmallWeb.gif" alt="" style="border-width:0px;" /></a></td>
                            <td align="left" valign="middle" style="width:70px; height: 32px;">
                                <a id="ctl00_WebHyperLink" class="refer" href="http://yottos.ru" onmouseover="buildSearchUrl(this)">Веб</a></td>
                            <td align="right" valign="middle" style="width:30px; height: 32px;">
                                <a id="ctl00_ZeroImageHyperLink" onmouseover="buildSearchUrl(this)" href="http://zero.yottos.ru/"><img id="ctl00_ZeroImage" src="/img/Logos/SmallZero.gif" style="border-width:0px;" /></a></td>
                            <td align="left" valign="middle" style="width:70px; height: 32px;">
                                 <a id="ctl00_ZeroHyperLink" class="refer" onmouseover="buildSearchUrl(this)" href="http://zero.yottos.ru/">Zero</a></td>
                            <td align="right" valign="middle" style="width:30px; height: 32px;">
                                <a href="http://news.yottos.ru" id="ctl00_NewsImageHyperLink" onmouseover="buildSearchUrl(this)"><img id="ctl00_NewsImage" src="/img/Logos/SmallNews.gif" style="border-width:0px;" /></a></td>
                            <td align="left" valign="middle" style="width:70px; height: 32px;">
                                 <a href="http://news.yottos.ru" id="ctl00_NewsHyperLink" class="refer" onmouseover="buildSearchUrl(this)">Новости</a></td>
                            <td align="right" valign="middle" style="width:30px; height: 32px;">
                                <a id="ctl00_CatalogImageHyperLink" onmouseover="buildSearchUrl(this)" href="http://catalog.yottos.com"><img id="ctl00_CatalogImage" src="/img/Logos/SmallCatalog.gif" style="border-width:0px;" /></a></td>
                            <td align="left" valign="middle" style="width:70px; height: 32px;">
                                <a id="ctl00_CatalogHyperLink" class="refer" onmouseover="buildSearchUrl(this)" href="http://catalog.yottos.com/CatalogSearch.aspx">Каталог</a></td>
                            <td align="right" valign="middle" style="width:30px; height: 32px;">
                                <a href="http://rynok.yottos.ru" id="ctl00_RynokImageHyperLink" onmouseover="buildSearchUrl(this)"><img id="ctl00_RynokImage" src="/img/Logos/SmallRynok.gif" style="width:20px;border-width:0px;" /></a></td>
                            <td align="left" valign="middle" style="width:70px; height: 32px;">
                               <a href="http://rynok.yottos.ru" id="ctl00_RynokHyperLink" class="refer" onmouseover="buildSearchUrl(this)">Рынок</a></td>
                            
                        </tr>
                        
                        <tr>
${h.form(h.url_for(controller='main', action='search'), method='post')}
                         <td align="left" valign="top" colspan="10" style="width: 500px">
                		<div id="divQueryBox">
${h.text('QueryText', style='width:98%')}
                         </div>
						</td>
                         <td align="center" valign="top" style="width: 122px; height: 27px;">
${h.submit('searchButton', u'Поиск в Yottos', onclick="javascript:cleanQueryBox();", style="width: 122px;")}
                        </td>
${h.end_form()}
                        </tr>
                        
                  </table>
               </td>
              </tr>            
    </table>

        
        <div style="width:100%; height: 18px; border: solid 1px #ffcd45; border-right: 0; border-top: 0; "></div>
        <div style="width:100%; height: 18px; border-right: solid 1px #ffcd45;  "></div>
    </div>
 
 <div id="welcomeBack" style="position: absolute; right: 5px; top: 5px">
<%
 if request.environ.get('CURRENT_USER'):
 	context.write('<b>' + request.environ.get('CURRENT_USER') + '</b>')
	context.write('&nbsp;&nbsp;&nbsp;')
	context.write(h.link_to(u"Выйти", url(controller='main', action='signOut'), class_='pers'))
 %>
 </div>
 
<div style="min-height: 400px;">
		${self.body()}
</div>





                    <table width="840px" cellpadding="0" cellspacing="0" border="0" >
            <tr>
                <td style="border-top: 0px; border-left: #ffcd45 1px solid; height:18px;">
                    &nbsp;
                </td>
               <td style="width: 240px;">
                    &nbsp;
                </td>
            </tr>
             <tr>
                <td style="height:40px; border-right: #ffcd45 1px solid; border-top: #ffcd45 1px solid; text-align:center ; border-bottom: #ffcd45 1px solid; width:100%" valign="middle">
				

                        <a id="ctl00_HeaderDefaultHyperLink" class="mainlink" href="http://yottos.ru" target="_self">Главная страница</a>
                         &nbsp;
                        <span id="ctl00_Label3" class="Line">|</span>
                         &nbsp;
                        <a id="ctl00_HeaderAboutHyperLink" class="mainlink" href="http://yottos.ru/%d0%9e_%d0%9d%d0%b0%d1%81" target="_self">Всё о Yottos</a>
                         &nbsp;
                        <span id="ctl00_Label1" class="Line">|</span>
                         &nbsp;
                        <a class="mainlink" href="${h.url_for(controller='info', action='terms_and_conditions')}" target="_self">Правила и условия GetMyAd™</a>
                         &nbsp;
                        <span id="ctl00_Label1" class="Line">|</span>
                         &nbsp;
						 <a class="mainlink" id="faqAnswer" href="/info/answers" target="_self">Часто задаваемые вопросы</a>                        
                         &nbsp;
                    
                </td>
              <td style="width:240px;">
                    &nbsp;
                </td>  
            </tr>
            <tr>
                <td >
                    <font color="#808080" >&copy;<span id="ctl00_CurentYearLabel" style="font-size:12px;">2010</span></font>&nbsp;<font color="#fe7300" style="font-size:12px; ">Yot</font><font color="#4c6bdf" style="font-size:12px; ">tos</font>
                </td>
             <td style="width: 240px; height: 18px;">
                    &nbsp;
                </td>  
            </tr>
    </table>


        
</body>

</html>
