# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />	
##%>	(для парсера)

<%def name="head()">
        <title>GetMyAd | Общие условия программы</title>
</%def>
##%>	4parser


<div style="margin-left: 70px; width: 750px"> 
<h2>Общие условия программы Yottos GetMyAd&#8482;</h2> 
<p>Перед началом работы с программой GetMyAd&#8482; внимательно прочтите <a href="${h.url_for(controller='info', action='rules')}">Правила программы Yottos GetMyAd&#8482;</a>и периодически просматривайте их, так как система поиска Yottos имеет право в любой момент дополнять или изменять Правила.</p> 
<p> Все Веб-мастера, участвующие в программе  GetMyAd&#8482; должны соблюдать данные Правила. В случае  невыполнения Правил, система поиска Yottos имеет право без предварительного уведомления блокировать аккаунт  и отключать выгрузку рекламы.</p> 
<p>Система поиска Yottos засчитывает только клики, совершенные заинтересованными пользователями. Использование любых способов, искусственно увеличивающих количество кликов и показов, запрещено! </p> 
 
</div> 
<script type="text/javascript"><!--
var yottos_id = "aHR0cDovL2dldG15YWQueW90dG9zLnJ1";
//-->
</script>
<script type="text/javascript" src="http://yottos.com/yinfoT.js"></script>