# -*- coding: utf-8 -*-
<div id="footerPosition">
    <div id="footerMenu">
        <a class="footerlink" href="${h.url_for(controller='main', action='index')}" target="_self">Главная страница</a>
                    <span class="Line">|</span>
                    <a class="footerlink" href="http://yottos.ru/%d0%9e_%d0%9d%d0%b0%d1%81" target="_self">Всё о Yottos</a>
                    <span class="Line">|</span>
                    <a class="footerlink" href="${h.url_for(controller='info', action='terms_and_conditions')}" target="_self">Правила и условия GetMyAd™</a>
                    <span class="Line">|</span>
                    <a class="footerlink" href="/info/faq" target="_self">Часто задаваемые вопросы</a>                        
                     &nbsp;
                     <font color="#808080" >&copy;<span style="font-size:12px;">2010-${h.year()}</span></font>&nbsp;<font color="#fe7300" style="font-size:12px; ">Yot</font><font color="#4c6bdf" style="font-size:12px; ">tos</font>
    </div>
</div>
