# -*- coding: utf-8 -*-
<div id="headerPosition">
    <div id="headerCenter">
        <div id="headerCenterLogo">
            <span id="headerCenterLogo1"></span><span id="headerCenterLogo2"></span>
        </div>
% if (url.environ['pylons.routes_dict']['controller'] != 'register_user'):
% if request.environ.get('CURRENT_USER'):
            <div id="headerCenterLogout" class="inline-block">
                <div id="headerCenterLogoutLeft">
                    Здравствуйте, <span>${request.environ.get('CURRENT_USER')}</span>
                </div>
                <div id="headerCenterLogoutRight">
                    <div class='selectBox'>
                                <span class='selected'>${request.environ.get('CURRENT_USER')}</span>
                                <span class='selectArrow'>&#9660</span>
                                <div class="selectOptions" >
                                    <span class="selectOption" value="" onclick="location.replace('${url(controller='main', action='signOut')}')">Выйти из аккаунта</span>
                                </div>
                    </div>
                </div>
            </div>
% else:
            <div id="headerCenterText" class="inline-block">
                <div id="headerCenterTextLeft">
                    Вход в аккаунт
                </div>
                <div id="headerCenterTextRight">
                    <a class="dot" href="#" style="display:none">Забыли пароль?</a>
                </div>
            </div>
            <div id="headerCenterLogin">
                <form name="signIn" method="post" action="/main/signIn">
                <fieldset class="inline-block">
                <ol>
                    <li class="inline-block"><input type="text" value="Логин" name="login" id="login" onclick="this.value='';" onfocus="this.value='';"></li>
                    <li class="inline-block"><input type="password" value="Пароль" name="password" id="password" onclick="this.value='';" onfocus="this.value='';"></li>
                </ol>
                </fieldset>
                <fieldset class="submit inline-block">
                    ${h.submit('loginButton', u'Войти')}
                </fieldset>
                </form>
                %if errorMessage:
                <p class="errorMessage">${errorMessage}</p>
                <style>
                #headerCenterLogin form fieldset ol li input {
                background-color: #f15252 !important;
                </style>
                %endif
            </div>
% endif
% endif
    </div>

    <div id="headerLogo">
        <a href="${h.url_for(controller='main', action='index')}"></a>
    </div>

    <div id="headerConsultant">
        <!-- webim button -->
        <a href="http://online-consultant.yottos.com/client.php?locale=ru&amp;style=getmyad&amp;group=2" target="_blank" onclick="if(navigator.userAgent.toLowerCase().indexOf('opera') != -1 &amp;&amp; window.event.preventDefault) window.event.preventDefault();this.newWindow = window.open('http://online-consultant.yottos.com/client.php?locale=ru&amp;style=getmyad&amp;group=2&amp;url='+escape(document.location.href)+'&amp;referrer='+escape(document.referrer), 'webim', 'toolbar=0,scrollbars=0,location=0,status=1,menubar=0,width=640,height=480,resizable=1');this.newWindow.focus();this.newWindow.opener=window;return false;"><img src="http://online-consultant.yottos.com/button.php?i=getmyad&amp;lang=ru&amp;group=2" border="0" alt=""/></a>
        <!-- / webim button --> 
    </div>
</div>
