<div class="right-block">
    <ul class="header">
        <li class="active"><a href="#" id="wishlist-link">Вишлист</a></li>
        <li class="last"><a href="#" id="viewlist-link">Вы смотрели</a></li>
    </ul>
    <div class="holder" id="wish-list">
        <h3>Все <span id="wishlist-count">(0)</span></h3>
        <div class="clr"></div>
        <a href="#" class="scroll-up">scroll-up</a>
        <ol id="wishlist">
            <li class="empty">&nbsp;</li>
        </ol>
        <a href="#" class="scroll-down">scroll-down</a>
        <div class="clr" style="height: 20px;"></div>
    </div>
    <div class="holder" id="view-list">
        <h3>Все <span id="view-count">(0)</span></h3>
        <div class="clr"></div>
        <a href="#" class="scroll-up" style="">scroll-up</a>
        <ol id="viewlist">
            <li class="empty">&nbsp;</li>
        </ol>
        <a href="#" class="scroll-down">scroll-down</a>
        <div class="clr" style="height: 20px;"></div>
    </div>
    <div class="clr"></div>
</div>
