<%inherit file='/base/index.html' />
<%def name="title()">Ошибка 404</%def>
<%def name="keywords()">Ошибка 404</%def>
<%def name="description()">Ошибка 404</%def>

<div id="wrapper">
    <div id="content">
        <div class="main">
            <div class="static warning">
                <div class="content">
                    <h1>404. Страница не найдена</h1>
                    <p>Вы можете:</p>
                    <ul>
                        <li>перейти <a href="/">на главную</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
