<%! from rynok.lib import viewhelpers as vh %>
<%inherit file='/base/index.html' />
<%def name="title()">Результатов нет</%def>
<%def name="keywords()">Результатов нет</%def>
<%def name="description()">Результатов нет</%def>

<!-- TODO перенести в css -->
<div id="wrapper">
    <div id="content">
    <div class="main">
    <div class="main=holder">
        <ul class="list" style="padding-right: 85px; padding-left: 69px; margin-bottom: 18px;">
            <li>
                <div class="static warning" style="height:171px; background: none;">
                    <div class="content" style="margin-top: 0; margin-bottom: 0;">
                        <h1>По вашему запросу ничего не найдено</h1>
                        <p style="margin-left: 31px;">Рекомендации:</p>
                        <ul style="margin-left: 128px;">
                            <li style="background: none; border: 0; margin: 0; padding: 0;">Вернуться <a href="${c.back_url}">назад</a></li>
                            <li style="background: none; border: 0; margin: 0; padding: 0;">Перейти <a href="/">на главную</a></li>
                            <li style="background: none; border: 0; margin: 0; padding: 0;">Проверьте написание слов.</li>
                            <li style="background: none; border: 0; margin: 0; padding: 0;">Попробуйте использовать более популярные ключевые слова.</li>
                            <li style="background: none; border: 0; margin: 0; padding: 0;">Воспользуйтесь нашим каталогом категорий.</li>
                        </ul>
                    </div>
                </div>
            </li> 
        </ul>
        ${categories(c.cats)}
    </div>
    </div>
    </div>
</div>
<div id="sidebar">
    ${vh.banner_block()}
    <div class="clr"></div>
    ${vh.wishlist()}
    <div class="clr"></div>
    ${vh.vendors()}
    <div class="clr"></div>
</div>
<%def name="categories(cats)" cached="False" cache_timeout="86400" cache_type="memory">
<%
    remainder = len(cats)%3
    per_c = len(cats)/3

    begin = 0

    for i in range(1, 4):
        per_column = per_c

        if remainder > 0:
            per_column += 1
            remainder -= 1

        context.write('<ul class="category-list all" style="float:left; display: inline; width: 33%; clear: none !important;">')

        to = begin + per_column
    
        for cat in cats[begin:to]:
            context.write(vh.categories(cat["ID"]))

        begin = to

        context.write('</ul>')
%>
</%def>
