<%! from rynok.lib import viewhelpers as vh %>
<%inherit file='/base/index.html' />
<%def name="title()">${vh.meta('title', c.category)}</%def>
<%def name="keywords()">${vh.meta('keywords', c.category)}</%def>
<%def name="description()">${vh.meta('description', c.category)}</%def>
${vh.cat_breadcrumbs(c.category)}
        <!--[if lte IE 7]>
		<table class="ie-wrapper">
			<tr>
				<td class="col sidebar">
		<![endif]-->
			<div id="left-bar">
                ${vh.category_filters(c.price_min, c.price_max, c.affordable_price, c.category['ID'], c.markets, c.vendors, c.currency)}
			</div>
			<!--[if lte IE 7]>
				</td>
				<td class="col">
			<![endif]-->
			<div id="wrapper">
				<div id="content">
					<div class="main">
						<div class="main-holder">
                            <div class="panel-sort">
                                ${vh.sort_panel(c.sort_settings, c.current_url, c.price_min, c.price_max)}
                            </div>

                            ${products(c.products)}
                            ${vh.paging_toolbar(current_page=c.page, total_pages=c.total_pages)}
						</div>
					</div>
				</div>
			</div>
			<!--[if lte IE 7]>
				</td>
				<td class="col sidebar">
			<![endif]-->
			<div id="sidebar">
                ${vh.banner_block()}
                ${vh.wishlist()}
                ${vh.vendors()}
			</div>
			<!--[if lte IE 7]>
					</td>
				</tr>
			</table>
			<div class="clr"></div>
			<![endif]-->

<%def name="products(products)">
<div class="clr"></div>
<ul class="list">
% if c.error_message:
                            <li style="height: 38px; padding-top: 0px;">
                                <div class="desc-holder">
                                    <h4 style="font-size: 14px; margin-top: 10px; color: #393939; border-bottom: none; background: none;">
                                        <center>
                                            ${c.error_message} 
                                        </center>
                                    </h4>
                                </div>
                                <div class="clr">
                                </div>
                            </li>                                                           
% endif
<%
    for product in products:
        context.write(vh.product_preview(product, c.currency))
%>
</ul>
</%def>

