# -*- coding: utf-8 -*-
<%def name="head()">
    <title>Настройки пользователя</title>
    <link type="text/css" href="/lib/css/theme/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
    <link type="text/css" href="/lib/grid/css/ui.jqgrid.css" rel="stylesheet" />
    <link type="text/css" href="/css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="/lib/jquery/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/lib/plugins/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/lib/ui/jquery-ui-1.8.1.custom.min.js"></script>
    <script type="text/javascript" src="/lib/grid/js/i18n/grid.locale-ru.js" ></script>   
    <!--[if IE]><script type="text/javascript" src="/lib/plugins/excanvas.compiled.js"></script><![endif]-->
    <script type="text/javascript" src="/lib/grid/js/jquery.jqGrid.min.js" ></script>   
    <script type="text/javascript" src="/lib/ui/i18n/ui.datepicker-ru.js"></script>
    <script type="text/javascript" src="/lib/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/lib/plugins/jquery.form.js"></script>
    <script type="text/javascript" src="/lib/plugins/jquery.tooltip.min.js"></script>
    <script type="text/javascript" src="/lib/colorpicker/colorpicker.js"></script>
    <script type="text/javascript" src="/lib/plugins/template.js"></script>
</%def>
##%>  4parser

##    <script type="text/javascript" src="/lib/grid/src/grid.loader.js" ></script>

<%!
	from random import randint
	id = randint(0,99999)			# Случайное число, которое будет добавляться к id формы.
									# Это нужно для случая, когда этот шаблон будет динамически загружаться во вкладки.
									# Таким образом мы обеспечиваем уникальность id формы на странице
	from getmyad.model import Permission 
%>
<html>
	<head>
<!--		<script type="text/javascript" src="/lib/jquery/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/lib/plugins/jquery.form.js"></script>-->
	</head>
	<body>

		
<style type="text/css">
	
	#dialogSetPassword label, #dialogSetPassword input{
		display: block;
	}
	
	#dialogSetPassword input {
		margin-bottom: 10px;
	}
	
	#dialogSetPassword fieldset {
		padding:0;
		border:0;
		margin-top:15px; 
	}

.errorMessage {
	color: red;
}
span.psw-error-message, span.fields-error-message {
	color: red;
}
.spanAccountSumm {      /* Сумма на счету */
  font-weight: bold;
  font-size: larger;
}
</style>

% if c.permission.has(Permission.REGISTER_USERS_ACCOUNT):
<!--
<div id="tabs">
<ul>
  <li><a href="#userDetails">Инфо</a></li>
  <li><a href="#userDomainCategories">Категории доменов</a></li>
  <li><a href="#userWallet">Кошельки</a></li>  
</ul>
-->
<div id="accordion">
  
<h3><a href="#">Детали пользователя</a></h3>  
<div id="userDetails">
		<h2>${c.login}</h2>
		<button id="edit-psw-button" name="edit-psw-button" class="edit-psw-button">Изменить пароль</button>
		<form action="/manager/saveUserDetails" method="post" id="user-details-${id}" name="user-details-${id}">
		 <input type="hidden" name="token" id="token" value="${c.token}"/>
		 <input type="hidden" id="login" name="login" value="${c.login}"/>
		
		 <span id="fields-error-message" class="fields-error-message"></span>
			<table>
				<tr>
					<td>ФИО: </td>
					<td>${h.text('edit_name', value=c.edit_name)}</td>	
				</tr>
				<tr>
					<td>Номер телефона: </td>
					<td>${h.text('edit_phone', value=c.edit_phone)}</td>
				</td>	
				<tr>
					<td>Эл. почта: </td>
					<td>${h.text('edit_email', value=c.edit_email)}</td>
				</tr>
				
				<tr>
					<td>Минимальная сумма вывода:</td>
					<td>
						<select name="edit_minsum" id="edit_minsum">
							% for x in [100, 90, 80, 70, 60, 50, 40, 30, 20]:
								 <option value="${x}">${x}</option>
							% endfor
						</select> $
							<script type="text/javascript">
								document.getElementById("edit_minsum").value = '${int(c.edit_min_out_sum)}';
							</script>
					</td>
				</tr>
				<tr>
					<td> Работа по предоплате:</td>
					<td>${h.checkbox('edit_prepayment', value=c.edit_prepayment, checked=c.edit_prepayment)}</td>
				</tr>
				
				<tr>
					<td>Вывод на webmoney-z:</td>
					<td>${h.checkbox('edit_money_web_z', value=c.edit_money_web_z, checked=c.edit_money_web_z)}</td>
				</tr>
					
				<tr>
					<td>Вывод на карточку:</td>
                    <td>${h.checkbox('edit_money_card', value=c.edit_money_card, checked=c.edit_money_card)}</td>
                </tr>
                <tr>
                    <td>Вывод на Яндекс Деньги:</td>
                    <td>${h.checkbox('edit_money_yandex', value=c.edit_money_yandex, checked=c.edit_money_yandex)}</td>
                </tr>
                
				
				<tr>
                  <td>Вывод на счёт-фактуру:</td>
                      <td>${h.checkbox('edit_money_factura', value=c.edit_money_factura, checked=c.edit_money_factura)}</td>
				</tr>  
				
				<tr>
					<td> Ответственный менеджер: </td>
					<td>
						<select name="edit_manager_get" id="edit_manager_get" class="user-details-manager-get">
						<option>------</option>
							% for x in c.list_manager:
								<option value="${x}">${x}</option>
							% endfor
						</select> 
					<script type="text/javascript">
//						$("#user-details-${id} .user-details-manager-get").val()
						document.getElementById("edit_manager_get").value = '${c.edit_manager_get}';
						if('${c.edit_manager_get}'=='------'||'${c.edit_manager_get}'=='')document.getElementById("edit_manager_get").selectedIndex = 0;						
					</script>
					</td>
				</tr>
				
				<tr>
					<td>Блокировка аккаунта: </td>
					<td>
						${h.select(name="edit_account_blocked", selected_values=c.edit_account_blocked,
							options=[('', u'Аккаунт не заблокирован'),
									 ('light', u'Временная приостановка'),
									 ('banned', u'Полностью заблокирован') ] )}
						<acronym title="Временная приостановка используется для аккаунтов, которые перестали использовать наши информеры. Клики и показы по аккаунтам с такой блокировкой не учитываются, но пользователь может самостоятельно отменить её, зайдя в свой кабинет. Полная блокировка применяется для аккаунтов, замеченных в нарушениях и т.п. В этом случае, владелец полностью лишается своего аккаунта." 
							style="font-size: smaller; border-bottom: 1px dashed gray"> в чём разница?</acrnonym>
					</td>
				</tr>	
				
			</table>

			<span id="error-message"></span>
			<p/>
			<button class="submit-button">Сохранить</button>
		</form>
		
	
		
		<div id="dialogSetPassword" title="Установка нового пароля" style="display: none;">
			Установить новый пароль пользователю <b><span id="dialogSetPassword_user"> %username% </span> </b>
			<form>
			  <input type="hidden" name="token" id="token" value="${c.token}">
				<fieldset>
					<label for="dialogSetPassword_psw1">Новый пароль:</label>
					<input type="text" name="dialogSetPassword_psw1" id="dialogSetPassword_psw1" class="text ui-widget-content ui-corner-all"/>
					<label for="dialogSetPassword_psw2">Повторите пароль:</label>
					<input type="text" name="dialogSetPassword_psw2" id="dialogSetPassword_psw2" class="text ui-widget-content ui-corner-all"/>
					<button id="generate-psw-button" name="generate-psw-button" class="generate-psw-button">Сгенерировать</button>
				</fieldset>
					<span id="psw-error-message" class="psw-error-message"></span>
			</form>
		</div>
</div>

<h3><a href="#">Домены</a></h3>
    <div id="edit_domain_categories">
      <form action="/manager/saveDomainCategories" method="post" id="save-domain-categories-${id}" name="save-domain-categories-${id}">
        <input type="hidden" name="token" id="token" value="${c.token}">
        <input type="hidden" id="login" name="login" value="${c.login}"/>
        <table>
          <tr>
            <td>
              <label for="account_domains">Домены</label>
              <select name="account_domains" id="account_domains" multiple='true' size='15'>
                % for x in c.account_domains:
                   <option>${x}</option>
                % endfor
              </select>
            </td>
        
            <td>  
              <label for="categories">Категории</label>
              <select name="categories" id="categories" multiple='true' size='15'>
                % for x in c.categories:
                    <option value="${x['guid']}">${x['title']}</option>
                % endfor
              </select>
            </td>
        </tr>      
        </table>  
        <button class="submit-button">Сохранить категории</button>
        <span id="categories-error-message" class="categories-error-message"></span>
      </form>
  </div>    

<h3><a href="#">Выводы средств</a></h3>
  <div>
    Доход пользователя составляет <span class="spanAccountSumm">${'%.2f' % c.accountSumm}$</span>. <br/>
    % if c.prepayment: 
      Работа по предоплате.
    % endif  
    <table id="accountMoneyOutHistoryTable"> </table>
  </div>
 
<h3><a href="#">Статистика</a></h3>
  <div>
    <table id="accountDomainsStatsTable"></table>
  </div>
    
</div>  <!-- end #tabs  or accordion-->		
<!--===================================================================== -->
		<script type="text/javascript">
		      // $("#tabs").tabs();
		      var div_to_open = ${c.div_to_open};
		      $("#accordion").accordion();
		      if (div_to_open == "edit_domain_categories") 
		        $("#accordion").accordion("activate", 1);
		
					$("#dialogSetPassword").dialog({
						autoOpen: false,
						modal: true,
						buttons: {
							'Сохранить': function() {
								if ($("#dialogSetPassword_psw1").val().length < 6) {
									displayPswMessage('Длина пароля должна быть не меньше шести символов');
									return;
								}
								if ($("#dialogSetPassword_psw1").val() != $("#dialogSetPassword_psw2").val()) {
									displayPswMessage('Повторный пароль неверен!');
									return;
								}
								$.getJSON("/manager/setNewPassword", {
									psw: $("#dialogSetPassword_psw1").val(),
									login: $("#login").val(),
									token: $("#token").val()
									}, function(json) {
											if (json.error) {
											  if(json.error_type = "authorizedError")
											     javascript:window.location.replace("/main/index")
											  else
											     displayPswMessage('Ошибка сохранения пароля!');
												return;
											}
											else {
												$("#dialogSetPassword").dialog('close');
											}
										
										});
							},
							'Отменить': function() {
								$(this).dialog('close');
							}
							
						}
						
					});
					
			$("#generate-psw-button").click(function(){
				$.getJSON("/manager/generateNewPassword", function(json) {
					if (json.error) {
						displayPswMessage('Ошибка генерации пароля!');
					} else {
						$('#dialogSetPassword_psw1').val(json.new_password);
						$('#dialogSetPassword_psw2').val(json.new_password);
					}
			})
				return false;
			});		
			
			$("#edit-psw-button").click(function(){
				$('#dialogSetPassword_psw1').val('');
				$('#dialogSetPassword_psw2').val('');
				$('#psw-error-message').html('');
				$('#dialogSetPassword_user').html($('#login').val());
				$("#dialogSetPassword").dialog('open');
			});			
			
			function displayMessage(message) {
				$("#error-message").show().text(message).fadeOut(2500);
			}
			function displayCategoriesMessage(message) {
			  $("#categories-error-message").show().text(message).fadeOut(2500);
			}
			function displayPswMessage(message) {
				$("#psw-error-message").show().text(message);
			}
			
			function displayFieldsMessage(message) {
				$("#fields-error-message").show().text(message);
			}
			$('#user-details-${id} button.submit-button').click(function() {
				$('#user-details-${id}').ajaxSubmit({
					dataType: 'json',
					beforeSubmit: function() {
						$("#user-details-${id} button.submit-button").attr('disabled', true);
					},
					success: function(result) {
						if (result.error == false)	{
							displayFieldsMessage('');
							displayMessage("Изменения успешно сохранены.");
						}
						else {
						  if (result.error_type == "authorizedError")
						      javascript:window.location.replace("/main/index");
						  else if (result.msg) {
								displayFieldsMessage(result.msg);
								displayMessage("Ошибка сохранения!");
							}
							else 
								displayMessage("Ошибка сохранения!");
							
							}
					},
					error: function () {
						displayMessage("Ошибка сохранения! Попробуйте сохранить ещё раз.");
					},
					complete: function() {
						$("#user-details-${id} button.submit-button").attr('disabled', false);
					}
				});
				return false;

			});
			
			var domains_categories = ${h.JSON(c.domains_categories)};
			$("#account_domains").change(function(){
        var domain = $("#account_domains").val();
        var categories = ${h.JSON(c.categories)};
        var cat_count = categories.length;
        var i = 0;
        while(i < cat_count) {
          var selected = false;
          for (var j = 0; j < domains_categories[domain].length; j++) {
            if (domains_categories[domain][j] == categories[i]['guid'])
                selected = true;
          } 
          var option = new Option(categories[i]['title'], categories[i]['guid'], selected, selected);
          document.getElementById("categories").options[i] = option;
          i++; 
        }
      });
      
      $('#save-domain-categories-${id} button.submit-button').click(function() {
              $('#save-domain-categories-${id}').ajaxSubmit({
                dataType: 'json',
                beforeSubmit: function() {
                  $("#save-domain-categories-${id} button.submit-button").attr('disabled', true);
                },
                success: function(result) {
                  if (result.error == false) {
                    displayCategoriesMessage("Изменения успешно сохранены.");
                    domains_categories = result.domains_categories;
                  }
                  else 
                    if (result.error_type == "authorizedError")
                        window.location.replace("/main/index");
                    else {
                       if(result.msg)
                          displayCategoriesMessage(result.msg);
                       else    
                          displayCategoriesMessage("Ошибка сохранения!");
                    }    
                },
                error: function () {
                  displayCategoriesMessage("Ошибка сохранения! Попробуйте сохранить ещё раз.");
                },
                complete: function() {
                  $("#save-domain-categories-${id} button.submit-button").attr('disabled', false);
                }
              });
              return false;
      
          }); 
    
    var accountMoneyOutHistory = ${c.accountMoneyOutHistory}
    $("#accountMoneyOutHistoryTable").jqGrid({
       datatype: function(postdata) {
          this.addJSONData(accountMoneyOutHistory);
         },
         mtype: 'GET',
      	 colNames: ['Пользователь', 'Дата', 'Сумма', 'Подтверждено', 'Разрешено', 'Оплачено', 'Телефон', 'Оплата', 'Код протекции', 'Истикает', 'Примечания'],
         colModel: [
                   {name: 'user', index: 'user', width: 110, align: 'center', sortable: false, hidden: true }, 
                   {name: 'date', index: 'date', width: 100, align: 'center', sortable: false},
                   {name: 'sum', index: 'sum', width: 100, align: 'center', sortable: false},
                   {name: 'user_confirmed', index: 'user_confirmed', width: 80, align: 'center', sortable: false},
                   {name: 'manager_agreed', index: 'manager_agreed', width: 80, align: 'center', sortable: false},
                   {name: 'approved', index: 'approved', width: 80, align: 'center', sortable: false},
                   {name: 'phone', index: 'phone', width: 140, align: 'center', sortable: false },
                   {name: 'payment_type', index: 'payment_type', width: 110, align: 'center', sortable: false},
                   {name: 'protectionCode', index: 'protectionCode', width: 80, align: 'center', sortable: false},
                   {name: 'protectionDate', index: 'protectionDate', width: 80, align: 'center', sortable: false},
                   {name: 'details', index: 'details', width: 420, align: 'left', sortable: false}
                   ],
         caption: "История вывода средств",
         gridview: true,
         rownumbers: false,
         rowNum:30,
         forceFit: true,
         height: 250           
    });

    $("#accountDomainsStatsTable").jqGrid({
        caption: "Статистика доменов пользователя",
        datatype: 'json',
        url: '/manager/userDomainDetails',
        postData: {user: '${c.login}'},
        mtype: 'GET',
        gridview: true,
        rowNum: 1000,
        height: 250,
        forceFit: true,
        colNames: ['Дата', 'Домен', 'Клики', 'Уник.', 'Показы', 'CTR, %', 'Сумма'],
        colModel: [
                  {name: 'date', index: 'date', width: 140, align: 'center', sortable: true, firstsortorder: 'desc'},
                  {name: 'domain', index: 'domain', width: 200, align: 'center', sortable: true},
                  {name: 'clicks', index: 'clicks', width: 140, align: 'center', sortable: false},
                  {name: 'unique', index: 'unique', width: 140, align: 'center', sortable: false},
                  {name: 'imp', index: 'imp', width: 140, align: 'center', sortable: false},
                  {name: 'ctr', index: 'ctr', width: 140, align: 'center', sortable: false},
                  {name: 'summ', index: 'summ', width: 140, align: 'center', sortable: false}
                  ]
    });

</script>
% endif		
				
	</body>
</html>
