<html> 
    <head>
        <title>Yottos - Менеджерский раздел</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/gif" href="/img/favicon.gif" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        
    <link rel="stylesheet" type="text/css" href="/js/ext/resources/css/ext-all.css" />
    <script type="text/javascript" src="/js/ext/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/js/ext/ext-all.js"></script>

    <script type="text/javascript" src="/js/json.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
	
	<style> 
	div.bg{
		position: absolute;
		z-index:-1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('/img/17.jpg');
		background-color: #013080;
		background-repeat: no-repeat;
		background-position: center center;
	}
	</style>
	
    </head>
    <body>
		<div class = 'bg'></div>
    </body>
</html>
