<%inherit file="/main.mako.html" />
<%def name="head()">
        <title>Создание выгрузки GetMyAd</title>
</%def>
<div id="advertise">
<div id="tabs">
	<ul>
		<li><a href="#main">Мои информеры</a></li>
		<li><a href="#size">1. Размер</a></li>
		<li><a href="#color">2. Цвет</a></li>
		<li><a href="#font">3. Шрифты</a></li>
		<li><a href="#ready">4. Готово!</a></li>
	</ul>
	
	<div id="main">
	</div>
	
	<div id="size">
		<h2>Выберите подходящий размер</h2>
		<p>Мы выбрали для вас ${len([x for x in c.patterns if x.get('popular')])} самых популярных размеров.
			Другие варианты можно найти в выпадающих списках "ещё". </p>
		
<%def name="displayPatterns(patterns, displayName, type )">
		<b>${displayName}</b>
		<ul class="listSizes">
			% for item in patterns:
				% if item['orient'] == type:
					% if item['popular']:
						<li><a href="javascript:void(0)">${item['title']}</a></li>
					% endif	
				% endif
			% endfor
			<select>
				<option> ещё&#133; </option>
				% for item in patterns:
					% if item['orient'] == type:
						% if not item['popular']:
							<option>${item['title']}</option>
						% endif	
					% endif
				% endfor
			</select>
		</ul>
</%def> <!-- %> -->


		${displayPatterns(c.patterns, u'Горизонтальные', 'horizontal')}
		${displayPatterns(c.patterns, u'Вертикальные', 'vertical')}
		${displayPatterns(c.patterns, u'Квадратные', 'square')}
			
		 <div style="width: 100%; text-align: right;">
		 	<a href="#color" class="navigation-arrow">Далее &rarr;</a>
		 </div>
	</div>
	
	<div id="color">
		<h2>Настройка цветовой гаммы</h2>
		
		<table>
			<tr>
				<td>Палитра:</td>
				<td>
					${h.select(
						'palette-preset',
						['yasnost'],
						[
							['none','----'],
							['yasnost', u'ясность'],
							['black_red', u'красное и чёрное'],
							['smoke', u'дым'],
							['nega', u'нежность']
						]
					)}
				</td>
			</tr>
			<tr>
				<td>Граница:</td>
				<td>
					<input type="text" id="borderColor" />
				</td>
				<td><div class='testColor'></div></td>
				<td>Без границ:</td>
				<td><input type="checkbox" id="borderColorStatus" /></td>	
			</tr>
			<tr>
				<td>Фон:</td>
				<td><input type="text" id="backgroundColor" /></td>
				<td><div class='testColor'></div></td>
				<td>Без фона:</td>
				<td><input type="checkbox" id="backgroundColorStatus" /></td>	
			</tr>
			<tr>
				<td>Заголовок:</td>
				<td><input type="text" id="headerColor" /></td>
				<td><div class='testColor'></div></td>
				<td>Подчёркивание:</td>
				<td><input type="checkbox" id="headerUnderline" checked /></td>	
			</tr>
			<tr>
				<td>Описание:</td>
				<td><input type="text" id="descriptionColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>
				<td>Цена:</td>
				<td><input type="text" id="priceColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>
				<td>Навигация:</td>
			</tr>
			<tr>	
				<td>Цвет: </td>
				<td><input type="text" id="arrowColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>	
				<td>Фон:</td>
				<td><input type="text" id="arrowBgColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>
				<td>Логотип:</td>
				<td>${h.select(
						'logo-color',['color'],
						[
							['color', u'цветной'],
							['black', u'чёрный'],
							['blue', u'синий'],
							['white', u'белый']
						]
						)}
				</td>
					
			</tr>			
			</tr>
		</table>

		 <div style="width: 100%; text-align: right;">
		 	<a href="#font" class="navigation-arrow">Далее &rarr;</a>
		 </div>
	</div>
	
	
	<div id="ready">
		<h2>Информер готов?</h2>
		<table>
			<tr>
				<td>Сайт, на котором будет работать информер: </td>
				<td>${h.select('informer-site', '', c.domains)}</td>
			</tr>
			<tr>
				<td>Название информера: </td>
				<td><input type="text" id="edit-informer-title"></td>
			</tr>
            <!-- <tr>
            	<td>Отслеживать в Attractor:</td>
                <td><input type="checkbox" name="trackAttractor" id="trackAttractor" checked></td>
            </tr> -->
			<!--tr>
				<td>Время в секундах для автоматичейкой перезагрузки информера: </td>
				<td><input type="text" id="edit-informer-auto_reload"></td>
			</tr-->
		</table>

		
		<p>Не забудьте сохранить информер!</p>
		<center>
			<input type="button" id="saveButton" value="Сохранить изменения" style="width: 200px;" />
		</center>
			<span id="error-message"></span>
		
		<div id="div-informer-code">
			<p>Для размещения информера (если вы ещё не сделали этого), скопируйте следующий код и вставьте его в HTML вашего сайта:</p>
			<textarea id="informer-code" cols=50 rows=4 readonly="readonly"></textarea>
		</div>
	</div>

	<div id="font">
		<h2>Настройка шрифтов</h2>
		
		<table>

			<tr>
				<td>
					Шрифт заголовка:
				</td>
				<td>
					<select id="headerFont">				
<option value='Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;'>Arial</option>
						<option value='Verdana, "Geneva CY", "DejaVu Sans", sans-serif;'>Verdana</option>						
						<option value='"Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;'>Times New Roman</option>
					</select>
				</td>
			</tr>			
			
			<tr>
				<td>
					Шрифт текста:
				</td>
				<td>
					<select id="textFont">				
						<option value='Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;'>Arial</option>
						<option value='Verdana, "Geneva CY", "DejaVu Sans", sans-serif;'>Verdana</option>						
						<option value='"Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;'>Times New Roman</option>
					</select>
				</td>
			</tr>			
				
			<tr>
				<td>
					Шрифт цены:
				</td>
				<td>
					<select id="priceFont">				
						<option value='Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;'>Arial</option>
						<option value='Verdana, "Geneva CY", "DejaVu Sans", sans-serif;'>Verdana</option>						
						<option value='"Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;'>Times New Roman</option>
					</select>
				</td>
			</tr>			
		</table>
		
		<p style="display: none; ">При отсутствии релевантной рекламы: </br>
					${h.select(
						'non-relevant', ['social'],
						[
							['social', u'отображать социальную рекламу'],
							['usercode', u'выводить пользовательский код']
						]
					)}
					<a href="javascript:;" id="hintCode" title="Выбрав функцию «выводить пользовательский код» Вы имеете возможность вставить любой  «код выгрузки» другой рекламой системы  или указать ссылку на подгрузку  своего баннера, которые будут отображаться при отсутствии релевантной рекламы от Yottos. Обратите внимание, что предполагаемый баннер или любой другой код, должен быть подобран так, чтоб вписываться в выбранные Вами размеры выгрузки Yottos, для корректного отображения на этом месте.">?</a>
					<textarea id="user-code" style="width: 100%; display: none"></textarea>
		</p>

		 <div style="width: 100%; text-align: right;">
		 	<a href="#ready" class="navigation-arrow">Далее &rarr;</a>
		 </div>
	</div>

</div>	<!-- end tabs -->
	

<div id="admaker-container">
	<div style="border-bottom: 1px solid #ddf; width: 100%; padding-left: 10px; margin-bottom: 25px;">
		<h2 id="informer-title" style="margin-bottom: 0;"></h2>
	</div>
	<div id="admakerPreview" style="left:100px;"></div>
</div>

<input type='button' id="btnCpy" style="display:none"/>
<div style="clear: both;"></div>
<%include file="advertise_template.mako.html" />
<script type="text/javascript" src="/js/create_adv.js" ></script>
<div id="tooltip" style="display: none; left: 0px; right: auto; top: 0px;" class="">
    <h3 style="display: none;"/>
    <div class="body">Текст подсказки.</div>
    <div class="url" style="display: none;"/>
</div>
<script type="text/javascript">
	$(function() {
		AdvertiseEditor.init({
			patterns: ${h.JSON(c.patterns)},
			advertise: ${h.JSON(c.advertise) if c.advertise else 'null'}
		});
		$('#btnCpy').click(function(){
			alert($('#admakerPreview').html());			
		});	
	});
			function showTooltip(x, y, contents) {
	        $('<div id="tooltip">' + contents + '</div>').css( {
	            position: 'absolute',
	            display: 'none',
	            top: y + 10,
	            left: x + 10,
	            border: '1px solid #fdd',
	            padding: '2px',
	            'background-color': '#fee',
	            opacity: 0.80
	        }).appendTo("body").show();
		}
    </script>
</div>
