# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />	
<%!
from getmyad.model import Permission, Account, ManagerReports
%>
<%def name="head()">
        <title>Статистика GetMyAd</title>
<script>
function CheckUser() {
    if (document.cookie.indexOf('getmyad=') == -1)
        window.location.replace('/main/index');
}
CheckUser();
</script>
		<link type="text/css" href="/lib/css/theme/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
		<link type="text/css" href="/lib/grid/css/ui.jqgrid.css" rel="stylesheet" />
		<link type="text/css" href="/css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="/lib/jquery/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/lib/ui/jquery-ui-1.8.1.custom.min.js"></script>
		<script type="text/javascript" src="/lib/grid/js/i18n/grid.locale-ru.js" ></script>		
		<script type="text/javascript" src="/lib/grid/js/jquery.jqGrid.min.js" ></script>		
		<script type="text/javascript" src="/lib/ui/i18n/ui.datepicker-ru.js"></script>
		<script type="text/javascript" src="/lib/plugins/jquery.form.js"></script>
</%def>
##%>	4parser

##		<script type="text/javascript" src="/lib/grid/src/grid.loader.js" ></script>

<div id="loading" style="width: 100%; margin-top: 100px; text-align: center;">
	<img src="/img/wait26trans.gif" /> <br /> Загрузка...
</div>

<script type="text/javascript">
	var dataMoneyOutRequests = ${c.dataMoneyOutRequests};
	var dataUsersSummary = ${dataUsersSummary};
	var dataDomainRequests = ${c.domainsRequests};
	var dataOverallSummary = ${c.dataOverallSummary};
	var managersSummary = ${c.managersSummary};
	var notApprovedRequests = ${c.notApprovedRequests};	
	var permissionSetClickCost = ${'true' if c.permission.has(Permission.SET_CLICK_COST) else 'false'};
	var permissionViewMoneyOut = ${'true' if c.permission.has(Permission.VIEW_MONEY_OUT) else 'false'};
	var permissionViewAllUserStats = ${'true' if c.permission.has(Permission.VIEW_ALL_USERS_STATS) else 'false'};
	var permissionRegisterUserAccount = ${h.JSON(True if c.permission.has(Permission.REGISTER_USERS_ACCOUNT) else False)};
	var moneyOutHistory = ${c.moneyOutHistory};
	var token = ${h.JSON(c.token)};	
% if c.account.account_type == Account.Manager:
    var monthProfitPerDate = ${ManagerReports(c.account).monthProfitPerDate()};
% endif
  var dataUsersImpressions = ${c.dataUsersImpressions}
</script>
<script type="text/javascript" src="/js/manager.js"></script>


<style type="text/css">
	#dialogSetCost label, #dialogSetCost input, #dialogSetPercent input, #dialogSetPercent label{
/*		display: block;*/
	}
	
	#dialogSetCost input, #dialogSetPercent input {
	/*	margin-bottom: 10px;*/
	}
	
	#dialogSetCost fieldset, #dialogSetPercent fieldset {
		padding:0;
		border:0;
		margin-top:15px; 
	}
	#dialogSetCost_user, #dialogSetPercent_manager {
		font-weight: bold;
	}
	
	a.redflag:link {
	  color: red;
	}
	a.greenflag:link {
	  color: green;
	}
	a.orangeflag:link{
	  color: grey;
	}
    a.yellow_star:after {
        content: '*';
        color: #fd6c02;
    }
	
	tr.jqgrow td {white-space: normal;}		/* Multiline rows for jqGrid */

    .pseudoLink { color: blue; text-decoration: underline; cursor: pointer; }
</style>


<div id="tabs" style="min-height: 500px; min-width: 1200px; visibility: hidden;" >
<ul>
	<li><a href="#main">Обзор</a></li>
	
% if c.permission.has(Permission.VIEW_MONEY_OUT):
	<li><a href="#moneyOutRequests" id="href_moneyOutRequests" name="href_moneyOutRequests">Вывод средств</a></li>
%endif
% if c.permission.has(Permission.USER_DOMAINS_MODERATION):
	<li><a href="#moderation" id="href_moderation" name="href_moderation">Модерация</a></li>
% endif	
% if c.account.account_type == Account.Manager:	
	<li id="linkaccount"><a href="#money_account">Счёт</a></li>
%endif
</ul>
<div id="main">
	<h2> Сегодня ${c.date}</h2>
	
<% 
	service_links = []
	if c.permission.has(Permission.REGISTER_USERS_ACCOUNT):
		service_links.append(('/register_adv/index', u'Регистрация аккаунта пользователя GetMyAd'))
	if c.permission.has(Permission.MANAGE_USER_INFORMERS):   
		service_links.append(('/advertise/showList', u'Расширенная настройка информеров'))
	service_links.append(('/manager/checkInformers/UA', u'Проверка работоспособности информеров'))
	if c.permission.has(Permission.ACCESS_ATTRACTOR):
		service_links.append(('/attractor/index', u'Yottos Attractor'))  
%>
${' | '.join(['<a href="%s" target="_blank">%s</a>' % x for x in service_links]) }

% if c.permission.has(Permission.VIEW_ALL_USERS_STATS):
	<h2> Сводная информация по менеджерам</h2>
	<table id="managersSummary"></table>
% endif
	
	
	<h2> Статистика GetMyAd</h2>
	<table id="statistic_data" cellspacing="10">
	  <tr>
	  	<td>Всего аккаунтов партнёрской сети: </td>
		<td><b>${c.acc_count}</b></td>
	  </tr>
	  <tr>
	  	<td>Всего активных аккаунтов:  </td>
		<td> <b> ${c.active_counters['accounts']['today']}   </b> </td>
		<td> <font color="grey"/><I>  (вчера ${c.active_counters['accounts']['yesterday']}, позавчера ${c.active_counters['accounts']['before_yesterday']})</I></td>
	  </tr>	
	  <tr>
	  	<td>Всего активных сайтов:  </td>
		<td> <b> ${c.active_counters['domains']['today']}   </b> </td>
		<td> <font color="grey"/><I>  (вчера ${c.active_counters['domains']['yesterday']}, позавчера ${c.active_counters['domains']['before_yesterday']})</I></td>
	  </tr>	
	</table>  
	
	Данные статистики актуальны на   <b>${c.usersSummaryActualTime}</b>
% if c.account.account_type == Account.Administrator:
	<p/>
	<table id="tableOverallSummary"></table>
	<div id="pagerOverallSummary"></div>
% endif
	<p/>
	<table id="tableUsersSummary"></table>
	<p/>
	<p/>
	<table id="tableUsersImpressions"> </table>

	
		
	<h2>Текущие цены за уникального посетителя</h2>
	<div id="toolbarClickCost"></div>
	<table id="tableClickCost"></table>
	
	<br/><br/>
	


</div>

<div id="moneyOut" class="dialog">
  <style type="text/css">           /* Форма вывода денег */
    form label {    display: block; }
    form input {  
      /*display: block;*/
      margin-bottom: 10px;
    /*  width: 200px; */
     }
  </style>
  <form name="moneyOut_form" id="moneyOut_form" action="/manager/moneyOutSubmit" method="get" >
          <input type="hidden" name="token" id="token" value="${c.token}"/>
          <h2>Заявка на вывод средств</h2>
          <fieldset id="moneyOut">
            <label for="moneyOut_summ">Сумма для разового вывода</label>
            <input type="text" id="moneyOut_summ" name="moneyOut_summ" />
            
            <label for="moneyOut_comment">Примечания</label>
            <textarea rows="4" cols="50" id="moneyOut_comment" name="moneyOut_comment"></textarea>
          </fieldset>
            
            <div id="moneyOut_errorMessage" class="errorMessage"></div>
          
            <div id="moneyOut_wait" style="text-align: right; display: none;" >
              <img src="/img/wait26trans.gif" />
            </div>
            
   </form>      
</div>




% if c.permission.has(Permission.VIEW_MONEY_OUT):
<div id="moneyOutRequests">
	<table cellspacing="10">
	<tr>
	  <td>Количество активных заявок, ожидающих одобрения:</td>
	  <td><b id="notApprovedRequests" name="notApprovedRequests"> ${c.notApprovedRequests}</b></td>
	    
	</tr>  
	<tr>  
	  	<td>Сумма доступная к выводу на сегодня: </td>
		  <td><b> ${h.formatMoney(c.sum_out['total'])}</b>
		  <span id="sumMoneyOutDetails" style="color: gray; margin-left: 2em;">
		  		<b>(WebmoneyZ:</b> ${h.formatMoney(c.sum_out['webmoney_z'])} | 
				<b>Карточка:</b> ${h.formatMoney(c.sum_out['card'])} | 
				<b>Счёт-фактура:</b> ${h.formatMoney(c.sum_out['factura'])} |
				<b>Неопределено:</b> ${h.formatMoney(c.sum_out['unknown'])})
		  </span>
		  <br />
		  </td>
	 </tr>
	 <tr>
  	 	<td> Прогноз суммы доступной к выводу к 10му числу:</td>
  		<td><b> ${c.prognoz_sum_out}</b></td>
	 </tr>
	 </table>
	
	<h2>Заявки на вывод средств</h2>
	
	<div id="toolbarMoneyOutRequest"></div>
	<table id="tableMoneyOutRequest"></table>
	<div id="pagerMoneyOutRequest"></div>
	
</div>
%endif

<div id="moderation">
% if c.permission.has(Permission.USER_DOMAINS_MODERATION):
	<h2>Ожидают модерации</h2>
	<table id="tableDomainRegistration"></table>
%endif
</div>

<div id="money_account">
% if c.account.account_type == Account.Manager:
  <h2> Операции со счётом</h2>
  <div id="managerBalanceInfo">
    <table>
      <tr>
        <td>Текущий процент:</td>
        <td><b>${ManagerReports(c.account).currentPercent()}</b></td>
      </tr>
      <tr>
        <td>Сумма на счету:</td>
        <td><b>${h.formatMoney(ManagerReports(c.account).balance())}</b></td>
      </tr>
      <tr>
        <td>Доход за последние 30 дней:</td>
        <td><b>${h.formatMoney(ManagerReports(c.account).monthBalance())}</b></td>
      </tr>
      <tr>
        <td>Оформить заявку на <a href="javascript:void(0)" class="linkMoneyOut">вывод средств</a>.
        </td>  
      </tr>
      <tr>
        <table id="tableAccountMoneyOut"></table>
        <div id="pagerAccountMoneyOut"></div>
      </tr> 
      <tr>
        <p/>
        <table id="tableAccountProfit"> </table>
      </tr>     
    </table>
	
  </div>
 
  <div id="dialogCancelRequest" title="" style="display: none;">
        <p>Вы действительно хотите отменить заявку?</p>
  </div>
% endif
  
</div>  



<div id="dialogSetPercent" style="display: none;" title="Назначение процента">
	Назначить процент пользователю <span id="dialogSetPercent_manager">%manager%</span>
	<form>   
		<fieldset>
			<label for="dialogSetPercent_percent">Процент</label>
			<input type="text" name="dialogSetPercent_percent" id="dialogSetPercent_percent" class="text ui-widget-content ui-corner-all"/>
		</fieldset>
	</form>
</div>

<div id="dialogBlockManager" style="display: none" title="Блокировка менеджера">
    Вы действительно хотите заблокировать менеджера <span id="dialogBlockManager_manager" style="font-weight: bold;">%manager%</span>?
    Менеджер потеряет доступ к своему аккаунту, у всех назначенных ему сайтах
    сбросится поле "Ответственный менеджер".
</div>

<div id="dialogSetCost" style="display: none;" title="Назначение цены">
	Назначить цену пользователю <span id="dialogSetCost_user">%username%</span>

	<form>
		<table>
		<tr>
			<td><label><input type="radio" id="costType1" name="costType" value="fixed" checked />Фиксированная</label></td>
			<td><label><input type="radio" id="costType2" name="costType" value="percent" />Плавающая</label></td>
		</tr>
		</table>

		<fieldset id="fieldsSetCost_FixedCost">
			<label for="dialogSetCost_cost">Цена</label>
			<input type="text" name="dialogSetCost_cost" id="dialogSetCost_cost" class="text ui-widget-content ui-corner-all"/>
		</fieldset>

		<fieldset id="fieldsSetCost_Percent" style="display:none" >
			<label for="dialogSetCost_percent">Процент от цены рекламодателя</label>
			<input type="text" name="dialogSetCost_percent" id="dialogSetCost_percent" class="text ui-widget-content ui-corner-all"/>%
			
			<label for="dialogSetCost_min">но не менее</label>
			<input type="text" name="dialogSetCost_min" id="dialogSetCost_min" class="text ui-widget-content ui-corner-all"/>$

			<label for="dialogSetCost_max">и не более</label>
			<input type="text" name="dialogSetCost_max" id="dialogSetCost_max" class="text ui-widget-content ui-corner-all"/>$
		</fieldset>
			
		<label for="dialogSetCost_date">Время применения:</label>
		<input type="text" name="dialogSetCost_date" id="dialogSetCost_date" value="" readonly="true" class="text ui-widget-content ui-corner-all" />
	</form>
</div>


<div id="dialogMoneyOutApprove" style="display: none;" title="Одобрение заявки на вывод средств">
    Вы действительно хотите перевести <span id="dialogMoneyOutApprove_summ" style="font-weight: bold;"></span> на счёт пользователя <span id="dialogMoneyOutApprove_user" style="font-weight: bold;"></span>?<br/>
    <b>Пожалуйста, ведите код протекции</b><br/>
    код - количество дней<br/>
    <input name="protectionCode" type="text" size="6" maxlength="6"/>&nbsp;-&nbsp;<input name="protectionPeriod" type="text" size="3" maxlength="3"/><br/>
	<span id="dialogMoneyOutApprove_date" style="display:none;"></span>
</div>

<div id="dialogMoneyOutAgree" style="display: none;" title="Разрешение заявки на вывод средств">
	Вы разрешаете вывести <span id="dialogMoneyOutAgree_summ" style="font-weight: bold;"></span> на счёт пользователя <span id="dialogMoneyOutAgree_user" style="font-weight: bold;"></span>?
	<span id="dialogMoneyOutAgree_date" style="display:none;"></span>
</div>

<div id="dialogMoneyOutUpdateProtectionCode" style="display: none;" title="Обновить код протекции">
    <b>Пожалуйста, ведите новый код протекции</b><br/>
    код - количество дней<br/>
    <input name="protectionCode" type="text" size="6" maxlength="6"/>&nbsp;-&nbsp;<input name="protectionPeriod" type="text" size="3" maxlength="3"/><br/>
	Вы действительно хотите изменить код протекции заявки на сумму <span id="dialogMoneyOutUpdateProtectionCode_summ" style="font-weight: bold;"></span> пользователя <span id="dialogMoneyOutUpdateProtectionCode_user" style="font-weight: bold;"></span>?
	<span id="dialogMoneyOutUpdateProtectionCode_date" style="display:none;"></span>
</div>

</div>	<!-- end #tabs -->


<script type="text/javascript">
	ManagerUI();
</script>
