# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />	
<%!
	from datetime import datetime
%>

<%def name="head()">
        <title>Статистика GetMyAd</title>
		<link type="text/css" href="/lib/css/theme/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
		<link type="text/css" href="/lib/grid/css/ui.jqgrid.css" rel="stylesheet" />
		<link type="text/css" href="/css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="/lib/jquery/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/lib/ui/jquery-ui-1.8.1.custom.min.js"></script>
		<script type="text/javascript" src="/lib/grid/js/i18n/grid.locale-ru.js" ></script>		
		<script type="text/javascript" src="/lib/grid/js/jquery.jqGrid.min.js" ></script>		
		<script type="text/javascript" src="/lib/ui/i18n/ui.datepicker-ru.js"></script>
		<script type="text/javascript" src="/lib/flot/jquery.flot.js"></script>
		<script type="text/javascript" src="/lib/plugins/jquery.form.js"></script>
</%def>
##%>	4parser

 <div style="margin-left:25px;">
 	${c.text_message}
 	<a href='/'>Вернуться на главную</a>
 </div>
        


