# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />
<%def name="head()">
	<title>Yottos GetMyAd</title>
	
	<style>
		.message {
			margin: 20px 20px 20px 20px;
			width: 100%;
			background-color: #fee;
			height: 50px;
			border: 1px dotted orange;
			text-align: center;
			vertical-align: middle;
		}
	</style>
	
</%def>
##%>	(для парсера)


<a href="${h.url_for(controller='adload', action='adload_campaign_list')}">&larr; к списку кампаний</a>

% if c.message:
<div class="message">
	<p>${c.message}</p>
</div>
% endif


<h2>Обзор кампании ${c.campaign['title']}</h2>

% if c.campaign.get('getmyad', False):
	<p>Кампания может рекламироваться в GetMyAd.
	<br/>Если кампанию больше никогда не следует показывать в партнёрской сети, следует
		<a href="${h.url_for(controller='adload', action='campaign_removeFromGetmyad', id=c.campaign['id'])}">
			запретить рекламу в GetMyAd</a>. </p>  
% else:
	<p>Эта кампания не предназначена для рекламы в GetMyAd.
	<br/>Если вы собираетесь рекламировать эту кампанию
		в партнёрской сети GetMyAd, то сначала необходимо
		<a href="${h.url_for(controller='adload', action='campaign_addToGetmyad', id=c.campaign['id'])}">
			дать разрешение на рекламу в GetMyad.</a> </p>
% endif

% if c.campaign.get('getmyad') and c.getmyad_details['status'] == 'not_found':
	<p>В данный момент кампания остановлена в GetMyAd</p>
	<p><a href="${h.url_for(controller='adload', action='campaign_start', id=c.campaign['id'])}">Запустить сейчас!</a></p>

% elif c.getmyad_details['status'] == 'working':
	<p>Кампания запущена в GetMyAd и работает в данный момент.</p>
	<p>Время последней синхронизации с AdLoad: ${c.getmyad_details['lastUpdate']}</p>
	<p>Кампания содержит ${c.getmyad_details['offersCount']} рекламных предложений.</p>
	<p><a href="${h.url_for(controller='adload', action='campaign_update', id=c.getmyad_details['id'])}">Обновить кампанию</a></p> 
	<p><a href="${h.url_for(controller='adload', action='campaign_stop', id=c.getmyad_details['id'])}">Остановить сейчас!</a></p>
	<p><a href="${h.url_for(controller='adload', action='campaign_settings', id=c.getmyad_details['id'])}">Настройки</a></p>
% endif
