# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />	
<%!
	from datetime import datetime
%>



<%def name="head()">	<!-- %> -->
        <title>Статистика GetMyAd</title>
		<link type="text/css" href="/lib/css/theme/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
		<link type="text/css" href="/lib/grid/css/ui.jqgrid.css" rel="stylesheet" />
		<link type="text/css" href="/css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="/lib/jquery/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/lib/plugins/jquery.tools.min.js"></script>
		<script type="text/javascript" src="/lib/ui/jquery-ui-1.7.2.custom.js"></script>
		<script type="text/javascript" src="/lib/grid/js/i18n/grid.locale-ru.js" ></script>		
		<!--[if IE]><script type="text/javascript" src="/lib/plugins/excanvas.compiled.js"></script><![endif]-->
		<script type="text/javascript" src="/lib/grid/js/jquery.jqGrid.min.js" ></script>		
		<script type="text/javascript" src="/lib/ui/i18n/ui.datepicker-ru.js"></script>
		<script type="text/javascript" src="/lib/flot/jquery.flot.js"></script>
		<script type="text/javascript" src="/lib/plugins/jquery.form.js"></script>
		<script type="text/javascript" src="/lib/plugins/jquery.tooltip.min.js"></script>

		<link rel="stylesheet" media="screen" type="text/css" href="/lib/colorpicker/css/colorpicker.css" />
		<script type="text/javascript" src="/lib/colorpicker/colorpicker.js"></script>
		<script type="text/javascript" src="/lib/plugins/template.js"></script>

<%
	informersJSON = h.JSON([{'title': x.title,
							   'guid': x.guid}
							   for x in c.informers])
%>

	<script type="text/javascript">
		var chartData = ${c.chartData};
		var summaryReportData = ${c.summaryReportData};
		var advertiseList = ${informersJSON};
		var moneyOutHistory = ${c.moneyOutHistory};
		var accountSumm = ${c.accountSumm};	
		//advertiseList=null;	
	</script>
		<script type="text/javascript" src="/js/statistics.js"></script>
</%def>


<style type="text/css">

a.linkAction, a.linkAction:hover, a.linkAction:visited, a.linkAction:active, a.linkAction:link {
	text-decoration: none;
}

a.link-button, a.link-button:link, a.link-button:visited {
	font-weight: bold;
	font-size: large;
	text-color: #00f;
	text-decoration: none;
}

a.link-button:hover {
	text-decoration: underline;
}

.spanAccountSumm {			/* Сумма на счету */
	font-weight: bold;
	font-size: larger;
}

#tooltip {				/* Всплывающая помощь */
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.90;
	max-width: 300px;
}

.subgrid_cell {
	background-color: #fffad5;
}



</style>


			<div id="tabs" style="min-height: 500px">
			<ul>
				<li id="linkmain"><a href="#main">Главная</a></li>
				<li id="linkaccount"><a href="#account">Счёт</a></li>
				<li><a href="#informers" id="linkinformers">Мои информеры</a></li>		
				<li><a href="#help" id="linkhelp" >Помощь</a></li>
			</ul>
			
			
			<div id="main">
				<h1>Добро пожаловать в GetMyAd!</h1>
				<p>На настоящий момент Ваш доход составляет <span class="spanAccountSumm">${'%.2f' % c.accountSumm}$</span>. <br/>
% if c.moneyOutEnabled: 
				Вы можете оформить заявку на <a href="javascript:void(0)" class="linkMoneyOut">вывод средств</a></p>
% else:
				Текущей суммы недостаточно для вывода. Рекомендуем изучить <a href="#" id="showGrowingInfo">статьи</a> о повышении доходности от выгрузок. 
% endif
				
				<div id="divFilterOptions" style="height: 5em; width: 40em;">
					<div style="margin-bottom: 5px">
					Показать статистику за ${h.select('filterpreset', 'off', [
							('off', u'весь период'),
							('today', u'сегодня'),
							('yesterday', u'вчера'),
##							('thisweek', u'текущая неделя'),
							('lastweek', u'последние 7 дней'),
##							('thismonth', u'текущий месяц'),
							('lastmonth', u'последние 30 дней'),
							('oneday', u'один день...'),
							('range', u'произвольный период...')])}

##					<input type="button" id="btnRefresh" value="Обновить" />
					</div>

					<div id="filterByRangeOptions" style="display: none; text-align: center;" >
							<label>от </label> <input type="text" name="dateStart" id="dateStart" readonly="true" />
							<label>до </label> <input type="text" name="dateEnd" id="dateEnd" readonly="true" />
					</div>
					<div id="filterByOneDayOptions" style="display: none; text-align: center;">
							<a id="setPrevDay" href="javascript:void(0)" class="linkAction">&larr;</a>
							<input type="text" name="dateFilterOneDay" id="dateFilterOneDay" readonly="true" />
							<a id="setNextDay" href="javascript:void(0)" class="linkAction">&rarr;</a>
					</div>
				</div>

				
				<table id="tableAllAdvertise"></table>
				<br/>


				
				<div id="chart" style="width:700px;height:300px;float:left;"></div>
				<div id="chartLegend" style="width:200px; max-height: 400px; overflow: hidden;"></div>

				<br style="clear: both;"/>
				<br style="line-height: 3em;"/>
				
				<table id="tableStatsByDays"></table>
				<div id="pagerStasByDays"></div>
				
				
% if isinstance(c.updateTime, datetime):
				<p>Данные по состоянию на ${c.updateTime.strftime('%d.%m.%Y %H:%M')} </p>
% else:
				<p>Время последнего обновления неизвестно.</p>
% endif



			<div id="moneyOut" class="dialog">
				<h2>Заявка на вывод средств</h2>
				<p>Уважаемый партнёр, вывод средств доступен через
				${h.select('moneyOut_paymentType', 'webmoney_z', [
					('webmoney_z', u'WebMoney — вывод на Z-кошелёк')
##					('webmoney_r', u'WebMoney — вывод на R-кошелёк'),
##					('webmoney_u', u'WebMoney — вывод на U-кошелёк'),
##					('banking', u'Безналичный перевод')
					])}
					<a href="javascript:void(0)" id="moneyOut_linkHelp" style="font-size: smaller;"> узнать больше </a>
				</p>
	
<style type="text/css">						/* Форма вывода денег */
	form label {		display: block;	}
	form input {	
		display: block;
		margin-bottom: 10px;
		width: 200px;
	}
</style>				
				<form name="moneyOut_form" id="moneyOut_form" action="/private/moneyOutSubmit" method="get" >
					<fieldset id="moneyOut_webmoney">

						<div id="moneyOut_webmoney_tooltip" style="display:none;">
							<p><a href="http://webmoney.ru/">Webmoney</a> — популярная система онлайн-платежей. Если у Вас ещё нет Webmoney-кошелька, зарегистрироваться можно <a href="http://start.webmoney.ru/?refid=14">здесь</a></p>
							<p>Согласно <a href="http://www.webmoney.ru/rus/about/fees/index.shtml">тарифам</a> системы WebMoney, за совершение каждой транзакции системой взымается комиссия в размере 0.8% от суммы платежа.</p>
							<p>Пример: при выводе 100$, комиссия системы WebMoney составит 0.8% (0.80$). Итого, в Ваш кошелёк поступит 99.20$.</p>
						</div>
						
						<label for="moneyOut_summ">Сумма для разового вывода</label>
						<input type="text" id="moneyOut_summ" name="moneyOut_summ" value="${'%.0f' % (c.accountSumm - 0.5)}" />

						<label for="moneyOut_webmoneyLogin">Логин, с которым Вы входите в кошелёк WebMoney</label>
						<input type="text" id="moneyOut_webmoneyLogin" name="moneyOut_webmoneyLogin" />
						
						<label for="moneyOut_webmoneyAccountNumber">Номер Z-кошелька вместе с буквой Z</label>
						<input type="text" id="moneyOut_webmoneyAccountNumber" name="moneyOut_webmoneyAccountNumber" />

						<label for="moneyOut_phone">Моб. телефон (для проверки) </label>
						<input type="text" id="moneyOut_phone" name="moneyOut_phone" />
						
						<label for="moneyOut_comment">Примечания</label>
						<textarea rows="4" cols="50" id="moneyOut_comment" name="moneyOut_comment"></textarea>
					</fieldset>
					
					<fieldset id="moneyOut_banking" style="display: none">
						<label for=""></label>
					</fieldset>
					
					<div id="moneyOut_errorMessage" class="errorMessage"></div>
					
					<div id="moneyOut_wait" style="text-align: right; display: none;" >
						<img src="/img/wait26trans.gif" />
					</div>
					
					<script type="text/javascript">
$(document).ready(function() {
	$("#moneyout_paymenttype").change(function() {
		var val = $(this).val();
		switch (val) {
			case 'banking':
				$("#moneyOut_webmoney").hide();
				$("#moneyOut_banking").show();
				break;
			default:
				$("#moneyOut_webmoney").show();
				$("#moneyOut_banking").hide();
				break;
		}
	});
	
	$("#moneyOut_linkHelp").tooltip({
		bodyHandler: function() {
			return $("#moneyOut_webmoney_tooltip").html();
		},
		showURL: false,
		fade: 250,
		delay: 20
	})
});
					</script>
				</form>
			</div>


			</div>
			

			<div id="account">
				<h2>Операции со счётом</h2>

				<p>На настоящий момент на Вашем счету находится <span class="spanAccountSumm">${'%.2f' % c.accountSumm}$</span>. <br/>
% if c.moneyOutEnabled: 
				Вы можете оформить заявку на <a href="javascript:void(0)" class="linkMoneyOut">вывод средств</a></p>
% else:
				Текущей суммы недостаточно для вывода. Рекомендуем изучить <a href="#" id="showGrowingInfo2">статьи</a> о повышении доходности от выгрузок.
				<br/>Минимальная сумма для вывода средств из Вашего аккаунта: <b>${c.min_out_sum} $ </b> 
% endif
				
				<table>
					<tr>
						<td>
							<table id="tableAccountIncome"></table>
							<div id="pagerAccountIncome"></div>
						</td>
						<td style="width: 50px;"></td>
						<td>
							<table id="tableAccountMoneyOut"></table>
							<div id="pagerAccountMoneyOut"></div>
						</td>
					</tr>
				</table>
			</div>	<!-- end div #account -->
			
			
			
			<div id="informers">
				<div id="startwork" style="display:none"><h3> Для того чтоб начать работу, создайте информер.</h3></div>
				<p><a href="/advertise/create#size" class="link-button">Создать новый информер</a></p>
				<p><a href="javascript:;" class="link-button" id="btnRegisterDomain" style="display: none;">Зарегистрировать домен</a></p>
<div id="tableInformers">
				<table id="tableExistingInformers"></table>
				<div id="pagerExistingInformers"></div>
</div>			
				<div id="dialogRegisterDomain" class="dialog">
<!--					<h2>Заявка на регистрацию нового домена</h2>
					<form id="formRegisterDomain">
						<fieldset>
							<label>URL домена:</label>
							<input type="text" id="txtRegister" />
						</fieldset>
					</form>
					-->
				</div>

			</div>  <!-- end div #informers -->
				
			

				
			<div id="help">
				<script language="JavaScript" type="text/javascript">//$(document).ready(function(){$("#linkhelp").click(function(){$("#nextContents").click();});</script>
				<%include file="/faq.content.html" />
				
			</div>	
	
		</div>


	
