#########################################################		Шаблон выгрузки AdMaker		#########################################################
<%text>
<textarea id="templateTest" style="display:none;" rows=0 cols=0>
	test
</textarea>

<textarea id="styleTemplate" style="display:none;" rows=0 cols=0>

<style type="text/css">
#mainContainer {
	position: relative;
	width: ${Main.width};
	height: ${Main.height};
	border: ${Main.borderWidth}px solid #${Main.borderColor};
	background-color: #${Main.backgroundColor};
	overflow: hidden;
	border-radius: 5px;
	}

.advBlock {
	width: ${Advertise.width};
	height: ${Advertise.height};
	border: ${Advertise.borderWidth}px solid #${Advertise.borderColor};
	float: left;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: ${Advertise.fontSize}px;
	color: #${Advertise.fontColor};
	overflow: hidden;
}

.advHeader {
	position: absolute;
	top: ${Header.top}px;
	left: ${Header.left}px;
	width: ${Header.width};
	height: ${Header.height};
	border: ${Header.borderWidth}px solid #${Header.borderColor};
	overflow: hidden;
	text-align: ${Header.align || 'center'};

}

.advHeader, .advHeader:hover, .advHeader:visited, .advHeader:active, .advHeader:link {
{if Header.fontUnderline}
	text-decoration: underline;
{else}
	text-decoration: none;
{/if}
	color: #${Header.fontColor};
	font-size: ${Header.fontSize}px;
{if Header.fontBold}
	font-weight: bold;
{/if}
}

.advHeader:hover {
	text-decoration: underline;
}
	
	
.advDescription {
	position: absolute;
	top: ${Description.top}px;
	left: ${Description.left}px;
	width: ${Description.width};
	height: ${Description.height};
	border: ${Description.borderWidth}px solid #${Description.borderColor};
	overflow: hidden;		
	text-align: ${Description.align || 'center'};
{if Description.hide}
	display: none;
{/if}
}

.advDescription, .advDescription:hover, .advDescription:visited, .advDescription:active, .advDescription:link {
	text-decoration: none;
	color: #${Description.fontColor};
	font-size: ${Description.fontSize}px;
{if Description.fontBold}
	font-weight: bold;
{/if}

}

.advDescription:hover {
	text-decoration: underline;
}

.advCost {
	position: absolute;
	top: ${Cost.top}px;
	left: ${Cost.left}px;
	width: ${Cost.width};
	height: ${Cost.height};
	border: ${Cost.borderWidth}px solid #${Cost.borderColor};
	overflow: hidden;
	text-align: ${Cost.align || 'center'};
{if Cost.hide}
	display: none;
{/if}
}

.advCost, .advCost:link, .advCost:hover, .advCost:visited, .advCost:active {
	text-decoration: none;
	color: #${Cost.fontColor};
	font-size: ${Cost.fontSize}px;
{if Cost.fontBold}
	font-weight: bold;
{/if}
}

.advCost:hover {
	text-decoration: underline;
}

.advImage {
	position: absolute;
	width: ${Image.width};
	height: ${Image.height};
	top: ${Image.top}px;
	left: ${Image.left}px;
{if Image.hide}
	display: none;
{/if}
	border: ${Image.borderWidth}px solid #${Image.borderColor};
}


.nav {
	margin-left: 2px;
	position: absolute;
	width: 12px;
	height: 14px;

{if Nav.navPosition == 'top-right' }
	top: 5px;
	right: 5px;
{elseif Nav.navPosition == 'top-left' }
	top: 5px;
	left: 5px;
{elseif Nav.navPosition == 'bottom-left' }
	bottom: 6px;
	left: 5px;
{elseif Nav.navPosition == 'bottom-right' }
	bottom: 5px;
	right: 5px;
{/if}

}

.nav a, .nav a:hover, .nav a:link, .nav a:visited, .nav a:active {
	font-size: 15px;
	text-decoration: none;
	color: #${Nav.color};
	background-color: #${Nav.backgroundColor};
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	border: 1px solid #000;
	width: 10px;
	padding-left: 2px;
}

.nav a:hover {
	color: #${Nav.backgroundColor};
	background-color: #${Nav.color};
}


#adInfo {
	position: absolute;
{if Nav.logoPosition == 'top-right' }
	top: 3px;
	right: 1px;
{elseif Nav.logoPosition == 'top-left' }
	top: 3px;
	left: 1px;
{elseif Nav.logoPosition == 'bottom-left' }
	bottom: 0;
	left: 1px;
{elseif Nav.logoPosition == 'bottom-right' }
	bottom: 0;
	right: 1px;
{/if}
{if Nav.logoColor == 'color' }
	background-image: url('http://getmyad.yottos.com/Image/Logos/colorLogo.png');
{elseif Nav.logoColor == 'black' }
	background-image: url('http://getmyad.yottos.com/Image/Logos/blackLogo.png');
{elseif Nav.logoColor == 'blue' }
	background-image: url('http://getmyad.yottos.com/Image/Logos/blueLogo.png');
{elseif Nav.logoColor == 'white' }
	background-image: url('http://getmyad.yottos.com/Image/Logos/whiteLogo.png');
{/if}
	height: 10px;
	width: 100px;
	background-repeat: no-repeat;
	overflow:hidden;
}	

#adInfo a {
	width:100%;
	height:100%;
	display: block;
}

</style>
</textarea>


	
<textarea id="contentTemplate" style="display:none;" rows=0 cols=0>
   	<div id="mainContainer">
	<div id=""ads"" style=""position: absolute; left:0; top: 0"">
	{for item in items}
    		<div class="advBlock">
    			<a class="advHeader" href="javascript:;" >Теперь доступно и вашему вниманию!</a>
				<a class="advDescription" href="javascript:;" >Выравнивает, подкручивает волосы, делает их блестящими и объемными!</a>
				<a class="advCost" href="javascript:;" >1 234,00 грн.</a>
				<a href="javascript:;" ><img class="advImage" src="http://rynok.yottos.ru/img/55/5232348e-b849-46e4-a1d3-ac26135c05dc.jpg" alt=""/></a>
    		</div>
	{/for}
	</div>
		    <div id='adInfo'><a href="http://yottos.com.ua" target="_blank"></a></div>
		    <div class='nav'> <a href='javascript:;' > <b id="leftArrow"> &gt; </b> </a> </div>
    </div>
</textarea>
</%text>
##</%>	4parser
