<%inherit file="/main.mako.html" />
<%def name="head()">
        <title>Создание выгрузки GetMyAd</title>
		<link type="text/css" href="/lib/css/theme/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
		<link type="text/css" href="/css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="/lib/jquery/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="/lib/ui/jquery-ui-1.8.1.custom.min.js"></script>
		<link rel="stylesheet" media="screen" type="text/css" href="/lib/colorpicker/css/colorpicker.css" />
		<script type="text/javascript" src="/lib/colorpicker/colorpicker.js"></script>
		<script type="text/javascript" src="/lib/plugins/template.js"></script>
		<script type="text/javascript" src="/lib/plugins/json2.js"></script>


</%def>
##%>	4parser


<style type="text/css">
#tabs {
	float: left;
	width: 400px;
	min-height: 400px;
	margin-right: 50px;
	
}
#admaker-container {
	width: 1250px;
}
.testColor {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	background-color: #fff;
}

.listSizes {
	margin-top: 0;
	list-style-type: none;
}

a.navigation-arrow {
	font-size: large;
	text-decoration: none;
}
a.navigation-arrow:hover {
	text-decoration: underline;
}

textarea {
	width: 100%;
}
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
    font-size: 0.8em;
}
 
#tooltip h3, #tooltip div { margin: 0; }
</style>

<div id="tabs">
	<ul>
		<li><a href="#main">Мои информеры</a></li>
		<li><a href="#size">1. Размер</a></li>
		<li><a href="#color">2. Цвет</a></li>
		<li><a href="#ready">3. Готово!</a></li>
	</ul>
	
	<div id="main">
	</div>
	
	<div id="size">
		<h2>Выберите подходящий размер</h2>
		<p>Мы выбрали для вас ${len(c.patterns)} самых популярных размеров. Другие варианты можно найти в выпадающих списках "ещё". </p>
		
<%def name="displayPatterns(patterns, displayName, type )">
		<b>${displayName}</b>
		<ul class="listSizes">
			% for item in patterns:
				% if item['orient'] == type:
					% if item['popular']:
						<li><a href="javascript:void(0)">${item['title']}</a></li>
					% endif	
				% endif
			% endfor
			<select>
				<option> ещё&#133; </option>
				% for item in patterns:
					% if item['orient'] == type:
						% if not item['popular']:
							<option>${item['title']}</option>
						% endif	
					% endif
				% endfor
			</select>
		</ul>
</%def> <!-- %> -->


		${displayPatterns(c.patterns, u'Горизонтальные', 'horizontal')}
		${displayPatterns(c.patterns, u'Вертикальные', 'vertical')}
		${displayPatterns(c.patterns, u'Квадратные', 'square')}
			
		 <div style="width: 100%; text-align: right;">
		 	<a href="#color" class="navigation-arrow">Далее &rarr;</a>
		 </div>
	</div>
	
	<div id="color">
		<h2>Настройка цветовой гаммы</h2>
		
		<table>
			<tr>
				<td>Палитра:</td>
				<td>
					${h.select(
						'palette-preset',
						['yasnost'],
						[
							['none','----'],
							['yasnost', u'ясность'],
							['black_red', u'красное и чёрное'],
							['smoke', u'дым'],
							['nega', u'нежность']
						]
					)}
				</td>
			</tr>
			<tr>
				<td>Граница</td>
				<td>
					<input type="text" id="borderColor" />
				</td>
				<td>
					<div class='testColor'></div>
				</td>
			</tr>
			<tr>
				<td>Фон</td>
				<td><input type="text" id="backgroundColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>
				<td>Заголовок</td>
				<td><input type="text" id="headerColor" /></td>
				<td><div class='testColor'></div></td>
				<td>Подчёркивание</td>
				<td><input type="checkbox" id="headerUnderline" /></td>	
			</tr>
			<tr>
				<td>Описание</td>
				<td><input type="text" id="descriptionColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>
				<td>Цена</td>
				<td><input type="text" id="priceColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>
				<td>Навигация</td>
			</tr>
			<tr>	
				<td>Цвет</td>
				<td><input type="text" id="arrowColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>	
				<td>Фон</td>
				<td><input type="text" id="arrowBgColor" /></td>
				<td><div class='testColor'></div></td>
			</tr>
			<tr>
				<td>Логотип</td>
				<td>${h.select(
						'logo-color',['color'],
						[
							['color', u'цветной'],
							['black', u'чёрный'],
							['blue', u'синий'],
							['white', u'белый']
						]
						)}
				</td>	
			</tr>
			<tr style="display: none;">
				<td colspan="3">При отсутствии релевантной рекламы:</td>
			</tr>
			<tr style="display: none;">
				<td colspan="3">
					${h.select(
						'non-relevant', ['social'],
						[
							['social', u'отображать социальную рекламу'],
							['usercode', u'выводить пользовательский код']
						]
					)}
					<a href="#" id="hintCode" style="display:none" title="Выбрав функцию  «выводить пользовательский код» Вы имеете возможность вставить любой  «код выгрузки» другой рекламой системы  или указать ссылку на подгрузку  своего баннера, которые будут отображаться при отсутствии релевантной рекламы от Yottos. Обратите внимание, что предполагаемый баннер или любой другой код, должен быть подобран так, чтоб вписываться в выбранные Вами размеры выгрузки Yottos, для корректного отображения на этом месте.">?</a>
					<textarea id="user-code" style="width: 100%"></textarea>
				</td>
			</tr>
		</table>

		 <div style="width: 100%; text-align: right;">
		 	<a href="#ready" class="navigation-arrow">Далее &rarr;</a>
		 </div>
	</div>
	
	<div id="ready">
		<h2>Информер готов?</h2>
		<table>
			<tr>
				<td>Сайт, на котором будет работать информер: </td>
				<td>${h.select('informer-site', '', c.domains)}</td>
			</tr>
			<tr>
				<td>Название информера: </td>
				<td><input type="text" id="edit-informer-title"></td>
			</tr>
		</table>

		
		<p>Не забудьте сохранить информер! <br />
		<b>Внимание: изменения вступят в силу в течении 30 минут!</b></p>
		<center>
			<input type="button" id="saveButton" value="Сохранить изменения" style="width: 200px;" />
		</center>
			<span id="error-message"></span>
		
		<div id="div-informer-code">
			<p>Для размещения информера (если вы ещё не сделали этого), скопируйте следующий код и вставьте его в HTML вашего сайта:</p>
			<textarea id="informer-code" cols=50 rows=4 readonly="readonly"></textarea>
		</div>
	</div>



</div>	<!-- end tabs -->
	

<div id="admaker-container">
	<div style="border-bottom: 1px solid #ddf; width: 100%; padding-left: 10px; margin-bottom: 25px;">
		<h2 id="informer-title" style="margin-bottom: 0;"></h2>
	</div>
	<div id="admakerPreview"></div>
</div>


<div style="clear: both;"></div>

<%include file="advertise_template.mako.html" />	<!-- /%> -->

<script type="text/javascript" src="/js/create_adv.js" ></script>
<div id="tooltip" style="display: none; left: …px; right: auto; top: …px;" class="">
    <h3 style="display: none;"/>
    <div class="body">Текст подсказки.</div>
    <div class="url" style="display: none;"/>
</div>
<script type="text/javascript">
	$(function() {
		AdvertiseEditor.init({
			patterns: ${h.JSON(c.patterns)},
			advertise: ${h.JSON(c.advertise) if c.advertise else 'null'}
		});		
	});
			function showTooltip(x, y, contents) {
	        $('<div id="tooltip">' + contents + '</div>').css( {
	            position: 'absolute',
	            display: 'none',
	            top: y + 10,
	            left: x + 10,
	            border: '1px solid #fdd',
	            padding: '2px',
	            'background-color': '#fee',
	            opacity: 0.80
	        }).appendTo("body").show();
		}
		//$("#hintCode").hover(function(){showTooltip(10,10,"");});
</script>
