# -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>GetMyAd | Загрузка...</title>
</head>

<body style="margin-top: 100px; text-align: center;">
<noscript>
	<h2>В Вашем браузере отключен JavaScript! </h2>
	<p>Для работы в GetMyAd необходимо включить Javascript.</p>
</noscript>

<div id="loading" style="display:none;">
	<img src="/img/wait26trans.gif" /> <br />
	Загрузка

	<script type="text/javascript">
		document.getElementById('loading').style.display = 'block';
		window.onload = function() {
			window.location = "/private/index";
		}
	</script>
	 
	<link type="text/css" href="/lib/css/theme/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
	<link type="text/css" href="/lib/grid/css/ui.jqgrid.css" rel="stylesheet" />
	<link type="text/css" href="/css/main.css" rel="stylesheet" />
.
	<script type="text/javascript" src="/lib/jquery/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/lib/plugins/jquery.tools.min.js"></script>
.
	<script type="text/javascript" src="/lib/ui/jquery-ui-1.8.1.custom.min.js"></script>
	<script type="text/javascript" src="/lib/grid/js/i18n/grid.locale-ru.js" ></script>
.		
	<!--[if IE]><script type="text/javascript" src="/lib/plugins/excanvas.compiled.js"></script><![endif]-->
	<script type="text/javascript" src="/lib/grid/js/jquery.jqGrid.min.js" ></script>
.		
	<script type="text/javascript" src="/lib/ui/i18n/ui.datepicker-ru.js"></script>
	<script type="text/javascript" src="/lib/flot/jquery.flot.js"></script>
.
	<script type="text/javascript" src="/lib/plugins/jquery.form.js"></script>
	<script type="text/javascript" src="/lib/plugins/jquery.tooltip.min.js"></script>
	<link rel="stylesheet" media="screen" type="text/css" href="/lib/colorpicker/css/colorpicker.css" />
	<script type="text/javascript" src="/lib/colorpicker/colorpicker.js"></script>
	<script type="text/javascript" src="/lib/plugins/template.js"></script>
.
</div>
</body>
</html>
