# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />	
<%!
from getmyad.model import Permission
%>
<%def name="head()">
        <title>Статистика GetMyAd</title>
		<link type="text/css" href="/lib/css/theme/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
		<link type="text/css" href="/lib/grid/css/ui.jqgrid.css" rel="stylesheet" />
		<link type="text/css" href="/css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="/lib/jquery/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="/lib/ui/jquery-ui-1.8.1.custom.min.js"></script>
		<script type="text/javascript" src="/lib/grid/js/i18n/grid.locale-ru.js" ></script>		
		<script type="text/javascript" src="/lib/grid/js/jquery.jqGrid.min.js" ></script>		
		<script type="text/javascript" src="/lib/ui/i18n/ui.datepicker-ru.js"></script>
		<script type="text/javascript" src="/lib/flot/jquery.flot.js"></script>
</%def>
##%>	4parser

##		<script type="text/javascript" src="/lib/grid/src/grid.loader.js" ></script>


<div id="tabs">
<ul>
	<li><a href="#main">Обзор</a></li>
% if c.permission.has(Permission.VIEW_MONEY_OUT):
	<li><a href="#moneyOutRequests">Вывод средств</a></li>
%endif
	<li><a href="#moderation">Модерация</a></li>
</ul>

<div id="main">
	
% if c.permission.has(Permission.REGISTER_USERS_ACCOUNT):
	<a href="/register_adv/index" target="_blank">Регистрация пользователя</a>
% endif

% if c.permission.has(Permission.VIEW_ALL_USERS_STATS):
	<h2> Сводная информация по менеджерам</h2>
	<table id="managersSummary"></table>
% endif
	
	
	<h2> Суммарная статистика пользователей GetMyAd</h2>
	<table id="tableUsersSummary"></table>
	
	<h2>Текущие цены за уникального посетителя</h2>
	<div id="toolbarClickCost"></div>
	<table id="tableClickCost"></table>
	
	<br/><br/>

</div>

% if c.permission.has(Permission.VIEW_MONEY_OUT):
<div id="moneyOutRequests">
	<h2>Заявки на вывод средств</h2>
	
	<div id="toolbarMoneyOutRequest"></div>
	<table id="tableMoneyOutRequest"></table>
</div>
%endif

<div id="moderation">
	
% if c.permission.has(Permission.USER_DOMAINS_MODERATION):
	<h2>Ожидают модерации</h2>
	<table id="tableDomainRegistration"></table>
%endif
</div>


<style type="text/css">
	#dialogSetCost label, #dialogSetCost input, #dialogSetPercent input, #dialogSetPercent label {
		display: block;
	}
	#dialogSetCost input, #dialogSetPercent input {
		margin-bottom: 10px;
	}
	#dialogSetCost fieldset, #dialogSetPercent fieldset {
		padding:0;
		border:0;
		margin-top:15px; 
	}
	#dialogSetCost_user, #dialogSetPercent_manager {
		font-weight: bold;
	}
	
	
	tr.jqgrow td {white-space: normal;}		/* Multiline rows for jqGrid */
</style>

<div id="dialogSetCost" style="display: none;" title="Назначение цены">
	Назначить цену пользователю <span id="dialogSetCost_user">%username%</span>
	<form>
		<fieldset>
			<label for="dialogSetCost_cost">Цена</label>
			<input type="text" name="dialogSetCost_cost" id="dialogSetCost_cost" class="text ui-widget-content ui-corner-all"/>
			
			<label for="dialogSetCost_date">Время применения:</label>
			<input type="text" name="dialogSetCost_date" id="dialogSetCost_date" value="" readonly="true" class="text ui-widget-content ui-corner-all" />
		</fieldset>
	</form>
</div>

<div id="dialogSetPercent" style="display: none;" title="Назначение процента">
	Назначить процент пользователю <span id="dialogSetPercent_manager">%manager%</span>
	<form>   
		<fieldset>
			<label for="dialogSetPercent_percent">Процент</label>
			<input type="text" name="dialogSetPercent_percent" id="dialogSetPercent_percent" class="text ui-widget-content ui-corner-all"/>
		</fieldset>
	</form>
</div>

<div id="dialogMoneyOutApprove" style="display: none;" title="Одобрение заявки на вывод средств">
	Вы действительно хотите перевести <span id="dialogMoneyOutApprove_summ" style="font-weight: bold;"></span> на счёт пользователя <span id="dialogMoneyOutApprove_user" style="font-weight: bold;"></span>?
	<span id="dialogMoneyOutApprove_date" style="display:none;"></span>
</div>

</div>	<!-- end #tabs -->


<script type="text/javascript">
	var currentClickCost = ${currentClickCost};
	var dataMoneyOutRequests = ${c.dataMoneyOutRequests};
	var dataUsersSummary = ${dataUsersSummary};
	var dataDomainRequests = ${c.domainsRequests};
	var managersSummary = ${c.managersSummary};
	var permissionSetClickCost = ${'true' if c.permission.has(Permission.SET_CLICK_COST) else 'false'};
</script>
<script type="text/javascript" src="/js/user-details.js"></script>
<script type="text/javascript" src="/js/manager.js"></script>
