<%inherit file="/main.mako.html" />
<%def name="head()">
	<title>Yottos GetMyAd</title>
</%def>
##%>


<style type="text/css">
#confirm_user, #confirm_manager {
	margin-left: 100px;
	min-height: 500px;	
}

#regbutton_div{
	margin-top:20px
}
#confirm_user td, #confirm_manager td {
	height: 24px;
	width: 16em;    
}

</style>


%if not c.save_res:
	<h2>Ошибка создания аккаунта!</h2>
	<p>Возможно, пользователь с таким именем уже существует.</p>
%endif


%if c.save_res:

% if c.account_type == 'user':
<div id='confirm_user'>
	<h2>Параметры созданного пользовательского аккаунта</h2>
	<table>
	<tr>
		<td><b>Логин:</b></td> <td>${c.login}</td>
	</tr>
	
	<tr>	
		<td><b>Пароль:</b></td> <td>${c.password}</td>
	</tr>
	
	<tr>	
		<td><b>ФИО:</b></td>    <td>${c.name}</td>
	</tr>
	
	<tr>
		<td><b>E-mail:</b></td> <td>${c.email}</td>
	</tr>
	
	<tr>
		<td><b>Телефон:</b></td> <td>${c.phone}</td>
	</tr>
	
	<tr>
		<td><b>Минимальная сумма для вывода средств:</b></td><td>${c.minsum} $</td> 
	</tr>
	
	<tr>
		<td><b></>Менеджер:</b></td><td>${c.manager_get}</td>
	</tr>	
	</table>
	

	<h2>Аккаунт успешно создан!</h2>

</div>
%endif


% if c.account_type <> 'user':
<div id='confirm_manager'>
	% if c.account_type == 'manager':
	<h2>Параметры созданного менеджерского аккаунта</h2>
	% endif
	
	% if c.account_type == 'admin':
	<h2>Параметры созданного аккаунта администратора</h2>
	% endif
	<table>
	<tr>
		<td><b>Логин:</b></td> <td>${c.manager_login}</td>
	</tr>
	
	<tr>	
		<td><b>Пароль:</b></td> <td>${c.password}</td>
	</tr>
	
	<tr>	
		<td><b>ФИО:</b></td>    <td>${c.manager_name}</td>
	</tr>
	
	<tr>
		<td><b>E-mail:</b></td> <td>${c.manager_email}</td>
	</tr>
	
	<tr>	
		<td><b>Телефон:</b></td>  <td>${c.manager_phone}</td>
	</tr>
</div>	
%endif

%endif



